## **APREU Advanced Segmentation**

## **Cluster 2: Geography & Engagement Segmentation**

### üéØ Goal
Segment contacts by **geography** and **engagement level** into 6 actionable subclusters for targeted marketing campaigns.

### üìä Segments Defined

| Segment | Geography | Engagement | Profile |
|---------|-----------|------------|---------|
| **2A** | Domestic (non-QRO) | High | High-engagement prospects from other Mexican states |
| **2B** | Domestic (non-QRO) | Low | Low-engagement prospects from other Mexican states |
| **2C** | International | High | High-engagement international applicants |
| **2D** | International | Low | Low-engagement international applicants |
| **2E** | Local (QRO) | High | High-engagement local Quer√©taro prospects |
| **2F** | Local (QRO) | Low | Low-engagement local Quer√©taro prospects |

### üì• Data Sources

**Geography Fields:**
- `IP Country`, `IP State/Region`
- `Ciudad preparatoria BPM`, `Preparatoria BPM`
- `Estado de preparatoria BPM`, `Estado de procedencia`
- `Pa√≠s preparatoria BPM`

**Engagement Metrics:**
- `Number of Sessions`, `Number of Pageviews`, `Forms Submitted`

**Profiling Data:**
- `Lifecycle Stage`, `Likelihood to close`
- `Create Date`, `Close Date`
- Traffic sources: `Original Source`, `Latest Traffic Source`, `Last Referring Site`

### üîß Analysis Pipeline

**1. Data Loading & Column Resolution**
- Load from HubSpot export CSV
- Resolve column aliases for all geography and engagement fields
- Handle multiple naming conventions

**2. Geography Classification** 
- Normalize text (accents, casing, special characters)
- Classify into 3 geo tiers:
  - `local` - Quer√©taro (QRO)
  - `domestic_non_local` - Other Mexican states
  - `international` - Outside Mexico
- **Enhanced detection features:**
  - Recognizes all 32 Mexican states + abbreviations
  - Detects CDMX variants (Ciudad de M√©xico, DF, etc.)
  - Identifies international indicators ("Soy Extranjero", etc.)
  - Consolidates state name variants to canonical names

**3. Engagement Scoring**
- Calculate `engagement_score` from sessions, pageviews, and forms
- Mark `is_high_engager` per geo tier using quantile-based thresholds
- Separate thresholds for each geography type

**4. Segment Assignment**
- Assign 2A-2F labels based on geography √ó engagement
- Add descriptive action tags for each segment

**5. Profiling & Analysis**
- Generate comprehensive metrics by segment
- Analyze lifecycle stages and conversion rates
- Calculate time-to-close statistics
- Profile traffic sources

**6. Export & Tools**
- Export to CSV and multi-sheet Excel workbook
- **Helper functions:**
  - `show_contact_by_id('contact_id')` - Individual contact analysis
  - `show_state('state_name')` - State-level metrics and insights

## üìä Excel Output Guide

### Quick Reference

**Start Here:** `1_executive_summary` - High-level KPIs and overview

**Key Sections:**
1. **Segment Performance** (Sheets 2-5) - Metrics for 2A-2F segments
2. **Geography Analysis** (Sheets 6-9) - Countries, states, cities
3. **Lifecycle & Attribution** (Sheets 10-12) - Funnel stages and traffic sources  
4. **Business Outcomes** (Sheets 13-17) - Conversion and closure metrics
5. **Time-to-Close Analysis** (Sheets 18-24) - Pipeline velocity details
6. **Engagement & Metadata** (Sheets 25-27) - Detailed distributions and docs

---

### üìà Category 1: Executive Summary

| Sheet | Purpose |
|-------|---------|
| `1_executive_summary` | High-level KPIs - Start here for the big picture |

---

### üìä Category 2: Segment Performance

**Key Insight:** 2A/2C/2E (high-engagement) outperform 2B/2D/2F (low-engagement)

| Sheet | Purpose |
|-------|---------|
| `2_segment_performance` | Comprehensive metrics for all 6 segments |
| `3_segment_counts` | Contact volume distribution |
| `4_engagement_means` | Average engagement by segment |
| `5_engagement_medians` | Median engagement (realistic expectations) |

---

### üìç Category 3: Geography Analysis

**Key Insight:** Different geographies require different strategies

| Sheet | Purpose |
|-------|---------|
| `6_geo_analysis` | Geographic tier breakdown (Local/Domestic/International) |
| `7_top_countries` | Top countries - Focus international recruitment |
| `8_top_states` | Top Mexican states - Target domestic campaigns |
| `9_top_cities` | Top cities - Localize messaging |

---

### üîÑ Category 4: Lifecycle & Attribution

**Key Insight:** International contacts often at different funnel stages than local

| Sheet | Purpose |
|-------|---------|
| `10_lifecycle_analysis` | Lifecycle stage distribution by segment |
| `11_lifecycle_top_by_segment` | Most common stages per segment |
| `12_traffic_sources` | Top traffic sources - Optimize channel mix |

---

### üí∞ Category 5: Business Outcomes

**Key Insight:** Local contacts typically close faster than international

| Sheet | Purpose |
|-------|---------|
| `13_likelihood_to_close` | L2C scores - Prioritize high-potential segments |
| `14_closure_rates` | Closure rates & days-to-close - Forecast timelines |
| `15_time_to_close_buckets` | TTC distribution - Pipeline velocity |
| `16_closure_stats_by_segment` | Detailed closure metrics by segment |
| `17_closure_stats_by_geo` | Geographic conversion patterns |

---

### ‚è±Ô∏è Category 6: Time-to-Close Deep Dive

**Key Insight:** Fast-closing segment √ó geography combinations need immediate follow-up

| Sheet | Purpose |
|-------|---------|
| `18_ttc_buckets_by_segment` | TTC buckets by segment |
| `19_ttc_buckets_by_geo` | TTC buckets by geography |
| `20_comprehensive_bucket_by_segment` | Complete segment timing breakdown |
| `21_comprehensive_bucket_by_geo` | Complete geographic timing |
| `22_overall_bucket_summary` | Overall TTC distribution |
| `23_fast_closers_segment_x_geo` | Fast closers (‚â§30 days) - Winning combinations |
| `24_slow_closers_segment_x_geo` | Slow closers (>180 days) - Identify bottlenecks |

---

### üìä Category 7: Engagement & Metadata

| Sheet | Purpose |
|-------|---------|
| `25_engagement_distribution` | Detailed engagement patterns |
| `26_metadata` | Analysis timestamp and technical info |
| `27_column_documentation` | Complete data field reference |

---

## üéØ How to Use This Analysis

### For International Recruitment
1. **`7_top_countries`** ‚Üí Focus on high-volume countries
2. **`2_segment_performance`** ‚Üí Compare 2C (high) vs 2D (low) engagement
3. **`17_closure_stats_by_geo`** ‚Üí International conversion rates
4. **`show_contact_by_id()`** ‚Üí Individual international contact analysis

### For Domestic Marketing  
1. **`8_top_states`** ‚Üí Target high-potential Mexican states
2. **`2_segment_performance`** ‚Üí Focus on 2A (high-engagement domestic)
3. **`12_traffic_sources`** ‚Üí Optimize domestic channel mix
4. **`show_state('state_name')`** ‚Üí State-level metrics and insights

### For Local (QRO) Teams
1. **`2_segment_performance`** ‚Üí Track 2E (high) vs 2F (low) engagement
2. **`9_top_cities`** ‚Üí Identify local opportunities
3. **`23_fast_closers_segment_x_geo`** ‚Üí Find winning local combinations

### For Leadership
1. **`1_executive_summary`** ‚Üí Quick KPI overview
2. **`3_segment_counts`** ‚Üí Volume distribution across segments
3. **`23_fast_closers_segment_x_geo`** ‚Üí Winning segment √ó geography combinations
4. **`14_closure_rates`** ‚Üí Overall conversion performance

---

## üîç Segment Definitions (2A-2F)

| Segment | Geography | Engagement | Profile | Action Plan |
|---------|-----------|-----------|---------|-------------|
| **2A** | Domestic (non-QRO) | High | Active prospects from other Mexican states | Digital engagement + virtual events |
| **2B** | Domestic (non-QRO) | Low | Passive prospects from other Mexican states | Re-engagement campaigns |
| **2C** | International | High | Active international applicants | Global program emphasis + virtual support |
| **2D** | International | Low | Passive international applicants | International awareness campaigns |
| **2E** | Local (QRO) | High | Active local Quer√©taro prospects | Leverage local presence + in-person events |
| **2F** | Local (QRO) | Low | Passive local Quer√©taro prospects | Local re-engagement + campus visits |

---

## üí° Quick Wins

1. **Fast Closers:** Focus on winning combinations in `23_fast_closers_segment_x_geo`
2. **Geographic Expansion:** Scale efforts in high-performing countries from `7_top_countries`
3. **Re-engagement:** Target low-engagement segments (2B/2D/2F) stuck in early lifecycle stages
4. **Local Advantage:** Leverage 2E segment's fast closure times and local presence

---

### **üåç ENHANCED GEOGRAPHY CLASSIFICATION**

**New Features Added:**

#### **1. Estado de Procedencia Integration**
- Added `Estado de procedencia` field to geography inputs
- Included in state coalescing logic alongside IP State and Estado de preparatoria BPM
- Provides additional data source for state determination

#### **2. Mexican State Detection & Normalization**
- **Recognizes all 32 Mexican states** plus common abbreviations
- **State normalization map** consolidates variants to canonical names:
  - Example: "Edo Mex", "Edo. Mex.", "Edomex" ‚Üí "Estado de Mexico"
  - Example: "CDMX", "DF", "Distrito Federal", "Ciudad de Mexico" ‚Üí "Ciudad de Mexico"
- **Intelligent fallback:** Contacts with Mexican state but missing country are correctly classified as domestic

#### **3. International Indicators**
- **Detects self-identification markers:** "Soy Extranjero", "Extranjero", "Foreign Country", "International"
- Improves classification accuracy for international students
- Reduces "unknown" geography classifications

#### **4. Enhanced Country & State Sets**
- **MX_ALIASES**: Expanded to include "cdmx", "mexico." for better country recognition
- **MEXICAN_STATES**: Comprehensive set including full names, abbreviations, and city-based state indicators

#### **5. State-Level Analysis Function**
- **`show_state(state_name)`**: Provides detailed metrics for any Mexican state:
  - Overview: Total contacts, % of domestic
  - Segment Distribution: 2A/2B split
  - Engagement Metrics: Avg engagement, sessions, pageviews, forms
  - Business Outcomes: Close rate, likelihood to close, days to close
  - Lifecycle Distribution: Stage breakdown
  - Top Traffic Sources: Leading acquisition channels

**Result:** More accurate geography classification, cleaner state reporting, and actionable state-level insights.

---

In [21]:
import pandas as pd
import numpy as np
import unicodedata
from datetime import datetime
from collections import Counter

pd.set_option("display.max_columns", 120)
pd.set_option("display.width", 140)

In [22]:
# ---- File path 
FILE_PATH = "contacts_campus_Qro_.csv"  

# ---- Load data
df_raw = pd.read_csv(FILE_PATH, low_memory=False)
print("Loaded shape:", df_raw.shape)

# ---- Column alias map (canonical_name -> possible source column names)
ALIASES = {
    # id (optional but useful if present)
    "contact_id": [
        "hs_object_id", "Record ID", "record_id", "id"
    ],

    # engagement
    "num_sessions": [
        "Number of Sessions", "hs_analytics_num_visits", "num_sessions"
    ],
    "num_pageviews": [
        "Number of Pageviews", "hs_analytics_num_page_views", "num_pageviews"
    ],
    "forms_submitted": [
        "Forms Submitted", "Number of Form Submissions", "num_unique_conversion_events", "forms_submitted"
    ],

    # geography (IP)
    "ip_country": ["IP Country","ip_country","Country (IP)"],
    "ip_state_region": ["IP State/Region","ip_state_region","State/Region (IP)"],

    # geography (preparatoria BPM)
    "prep_city_bpm": ["Ciudad preparatoria BPM","ciudad_preparatoria_bpm"],
    "prep_school_bpm": ["Preparatoria BPM","preparatoria_bpm"],
    "prep_state_bpm": ["Estado de preparatoria BPM","estado_preparatoria_bpm"],
    "estado_de_procedencia": ["estado_de_procedencia", "Estado de procedencia"],
    "prep_country_bpm": ["Pa√≠s preparatoria BPM","pais_preparatoria_bpm"],

    # attribution/context
    "original_source": [
        "Original Source", "hs_analytics_source", "original_source"
    ],
    "original_source_d1": [
        "Original Source Drill-Down 1", "Original Source Drill-Down 1/2",
        "hs_analytics_source_data_1", "original_source_drilldown_1"
    ],
    "original_source_d2": [
        "Original Source Drill-Down 2", "Original Source Drill-Down 1/2",
        "hs_analytics_source_data_2", "original_source_drilldown_2"
    ],
    "canal_de_adquisicion": [
        "Canal de adquisici√≥n", "canal_de_adquisicion"
    ],
    "latest_source": [
        "Latest Traffic Source", "Latest Source", "hs_latest_source", "latest_traffic_source"
    ],
    "last_referrer": [
        "Last Referring Site", "hs_analytics_last_referrer", "last_referring_site", "last_referrer"
    ],
    
    # Profiling

    "likelihood_to_close": [
        "Likelihood to close", "hs_likelihood_to_close", "likelihood_to_close", "hs_predictivecontactscore"
    ],
    "apreu_activities": [
        "Actividades de promoci√≥n APREU", "apreu_activities"
    ],
    "periodo_de_ingreso": [
        "Periodo de ingreso a licenciatura (MQL)", "periodo_ingreso_mql", "PERIODO DE INGRESO", "periodo de ingreso", "Periodo_de_ingreso", "Periodo de ingreso"
    ],
    "periodo_admision_bpm": [
        "Periodo de admisi√≥n BPM (Solicitante ‚Üí Nuevo Ingreso)", "periodo_admision_bpm", "Periodo de admisi√≥n BPM"
    ],
    "create_date": [
        "Create Date", "hs_createdate", "create_date"
    ],
    "close_date": [
        "Close Date", "closedate", "close_date"
    ],
    "lifecycle_stage": [
        "Lifecycle Stage", "hs_lifecyclestage", "lifecycle_stage"
    ],
    "propiedad_del_contacto": [
        "Propiedad del contacto", "propiedad_del_contacto", "Contact Owner"
    ],
    
}

def pick(df, candidates):
    """Return the first column name that exists in df from candidates list, else None."""
    for c in candidates:
        if c in df.columns:
            return c
    return None

# --- Helper: take the latest token from HubSpot history strings (e.g., '0//1//2' -> '2')
def hist_latest(val):
    if pd.isna(val):
        return np.nan
    s = str(val).strip()
    if "//" in s:
        parts = [p.strip() for p in s.split("//") if p.strip() != ""]
        if not parts:
            return np.nan
        return parts[-1]
    return s

# ---- Resolve real columns ‚Üí build tidy working frame with canonical names
resolved = {canon: pick(df_raw, opts) for canon, opts in ALIASES.items()}
missing = [k for k, v in resolved.items() if v is None]

cols_to_keep = [v for v in resolved.values() if v is not None]
X = df_raw[cols_to_keep].copy()

# rename to canonical
rename_map = {resolved[k]: k for k in resolved if resolved[k] is not None}
X = X.rename(columns=rename_map)

# ---- Apply latest-only cleaning to *all* aliased columns (numeric + categorical)
for col in X.columns:
    X[col] = X[col].apply(hist_latest)

# ---- Quick sanity prints
print("\nResolved column mapping (canonical ‚Üí actual):")
for k in sorted(resolved):
    print(f"  {k:24s} -> {resolved[k]}")

date_cols = {"create_date":"create_date", "close_date":"close_date"}

# Special handling for HubSpot Unix timestamps (milliseconds)
def convert_hubspot_timestamp(val):
    """Convert HubSpot timestamp (milliseconds since epoch) to datetime."""
    if pd.isna(val):
        return pd.NaT
    try:
        # Convert string to integer, then to datetime
        timestamp_ms = int(float(str(val).strip()))
        return pd.to_datetime(timestamp_ms, unit='ms')
    except (ValueError, TypeError):
        return pd.NaT

for k in date_cols:
    if k in X.columns:
        print(f"Converting {k} from HubSpot timestamps...")
        X[k] = X[k].apply(convert_hubspot_timestamp)
        non_null_count = X[k].count()
        print(f"  Successfully converted {non_null_count:,} timestamps")

# ---- Calculate days_to_close and ttc_bucket
if "create_date" in X.columns and "close_date" in X.columns:
    print("\nCalculating days_to_close and ttc_bucket...")
    # Calculate days between create and close dates
    raw_days = (X["close_date"] - X["create_date"]).dt.days
    
    # Filter out negative days (data quality issue) by setting them to NaN
    X["days_to_close"] = raw_days.where(raw_days >= 0)
    
    # Report on negative days filtered out
    negative_count = (raw_days < 0).sum()
    if negative_count > 0:
        print(f"  ‚ö†Ô∏è Filtered out {negative_count:,} contacts with negative days_to_close (data quality issue)")
    
    # Create time-to-close buckets
    def categorize_ttc(days):
        if pd.isna(days):
            return "Open/Unknown"
        elif days <= 30:
            return "‚â§30 days"
        elif days <= 90:
            return "31-90 days"
        elif days <= 180:
            return "91-180 days"
        elif days <= 365:
            return "181-365 days"
        else:
            return ">365 days"
    
    X["ttc_bucket"] = X["days_to_close"].apply(categorize_ttc)
    
    # Report the calculations
    dtc_valid = X["days_to_close"].notna().sum()
    print(f"  Calculated days_to_close for {dtc_valid:,} contacts with both create and close dates")
    print(f"  TTC bucket distribution:")
    display(X["ttc_bucket"].value_counts())
else:
    print("\n‚ö†Ô∏è Cannot calculate days_to_close: missing create_date or close_date")
    X["days_to_close"] = ""
    X["ttc_bucket"] = "Unknown"

if missing:
    print("\n‚ö†Ô∏è Missing expected columns (not found in your file):", missing)

# ---- Convert academic period codes to readable formats
def convert_academic_period(period_code):
    """
    Convert YYYYMM academic period codes to readable format
    Based on observed patterns:
    - 10 = Spring (January start)
    - 35 = Summer 
    - 60 = Fall (August/September start)
    - 5, 75 = Special/Other periods
    """
    if pd.isna(period_code) or period_code == "":
        return "Unknown"
    
    try:
        period_str = str(period_code).strip()
        if len(period_str) != 6:
            return f"Invalid: {period_code}"
        
        year = int(period_str[:4])
        period = int(period_str[4:])
        
        # Map period codes to semester names
        period_map = {
            5: "Special",
            10: "Spring", 
            35: "Summer",
            60: "Fall",
            75: "Winter/Special"
        }
        
        semester = period_map.get(period, f"Unknown({period})")
        return f"{year} {semester}"
        
    except (ValueError, IndexError):
        return f"Invalid: {period_code}"

# Apply period conversions
if "periodo_de_ingreso" in X.columns:
    X["periodo_ingreso"] = X["periodo_de_ingreso"].apply(convert_academic_period)
    print(f"\n‚úì Converted periodo_de_ingreso to readable format:")
    print(f"  {X['periodo_ingreso'].notna().sum():,} readable periods created")

if "periodo_admision_bpm" in X.columns:
    X["periodo_admision"] = X["periodo_admision_bpm"].apply(convert_academic_period)
    print(f"\n‚úì Converted periodo_admision_bpm to readable format:")
    print(f"  {X['periodo_admision'].notna().sum():,} readable periods created")

print("\nWorking shape before filtering:", X.shape)

# ---- Filter for Propiedad del contacto = "APREU"
if "propiedad_del_contacto" in X.columns:
    # Clean propiedad values
    X["propiedad_del_contacto"] = X["propiedad_del_contacto"].astype(str).replace({"nan": "Unknown", "": "Unknown"})
    
    # Count contacts before filtering
    print(f"\nTotal contacts before Propiedad filter: {X.shape[0]:,}")
    apreu_count = (X["propiedad_del_contacto"] == "APREU").sum()
    print(f"Contacts with Propiedad del contacto = 'APREU': {apreu_count:,}")
    
    # Filter to keep only APREU contacts
    X = X[X["propiedad_del_contacto"] == "APREU"].copy()
    print(f"Contacts remaining after filtering for APREU: {X.shape[0]:,}")
else:
    print("\n‚ö†Ô∏è No propiedad_del_contacto column found - skipping Propiedad filter")

# ---- Filter out contacts with lifecycle stage = "Other" or "subscriber"
if "lifecycle_stage" in X.columns:
    # Clean lifecycle stage values (handle HubSpot history format and normalize)
    X["lifecycle_stage"] = X["lifecycle_stage"].astype(str).replace({"nan": "Unknown", "": "Unknown"})
    
    # Count contacts with excluded lifecycle stages before filtering
    other_count = (X["lifecycle_stage"].str.lower() == "other").sum()
    subscriber_count = (X["lifecycle_stage"].str.lower() == "subscriber").sum()
    print(f"\nContacts with lifecycle stage 'Other': {other_count:,}")
    print(f"Contacts with lifecycle stage 'subscriber': {subscriber_count:,}")
    
    # Filter out "Other" and "subscriber" lifecycle stage contacts
    X = X[~X["lifecycle_stage"].str.lower().isin(["other", "subscriber"])].copy()
    print(f"Contacts remaining after filtering out 'Other' and 'subscriber': {X.shape[0]:,}")
    
    # Show lifecycle stage distribution after filtering
    print("\nLifecycle stage distribution (after filtering):")
    display(X["lifecycle_stage"].value_counts().head(10))
else:
    print("\n‚ö†Ô∏è No lifecycle_stage column found - skipping lifecycle filter")

print("\nWorking shape:", X.shape)

# ---- Convert numeric columns from strings (after hist_latest cleaning)
print("\n‚úì Converting numeric columns to proper types...")
numeric_columns = {
    "num_sessions": 0,
    "num_pageviews": 0, 
    "forms_submitted": 0,
    "likelihood_to_close": np.nan  # Use NaN for likelihood_to_close
}

for col, fill_value in numeric_columns.items():
    if col in X.columns:
        X[col] = pd.to_numeric(X[col], errors="coerce")
        if fill_value == 0:
            X[col] = X[col].fillna(0)
        print(f"  ‚úì Converted {col} to numeric")

display(X.head(10))

Loaded shape: (128903, 44)

Resolved column mapping (canonical ‚Üí actual):
  apreu_activities         -> Actividades de promoci√≥n APREU
  canal_de_adquisicion     -> Canal de adquisici√≥n
  close_date               -> Close Date
  contact_id               -> Record ID
  create_date              -> Create Date
  estado_de_procedencia    -> Estado de procedencia
  forms_submitted          -> Number of Form Submissions
  ip_country               -> IP Country
  ip_state_region          -> IP State/Region
  last_referrer            -> Last Referring Site
  latest_source            -> Latest Traffic Source
  lifecycle_stage          -> Lifecycle Stage
  likelihood_to_close      -> Likelihood to close
  num_pageviews            -> Number of Pageviews
  num_sessions             -> Number of Sessions
  original_source          -> Original Source
  original_source_d1       -> Original Source Drill-Down 1
  original_source_d2       -> Original Source Drill-Down 2
  periodo_admision_bpm     -> Periodo de admisi√≥n BPM
  periodo_de_ingreso       -> Periodo de ingreso
  prep_city_bpm            -> Ciudad preparatoria BPM
  prep_country_bpm         -> Pa√≠s preparatoria BPM
  prep_school_bpm          -> Preparatoria BPM
  prep_state_bpm           -> Estado de preparatoria BPM
  propiedad_del_contacto   -> Propiedad del contacto
Converting create_date from HubSpot timestamps...
  Successfully converted 128,903 timestamps
Converting close_date from HubSpot timestamps...
  Successfully converted 9,320 timestamps

Calculating days_to_close and ttc_bucket...
  ‚ö†Ô∏è Filtered out 40 contacts with negative days_to_close (data quality issue)
  Calculated days_to_close for 9,280 contacts with both create and close dates
  TTC bucket distribution:

ttc_bucket
Open/Unknown    119623
31-90 days        2626
91-180 days       2118
181-365 days      1870
>365 days         1505
‚â§30 days          1161
Name: count, dtype: int64

‚úì Converted periodo_de_ingreso to readable format:
  128,903 readable periods created

‚úì Converted periodo_admision_bpm to readable format:
  128,903 readable periods created

Working shape before filtering: (128903, 29)

Total contacts before Propiedad filter: 128,903
Contacts with Propiedad del contacto = 'APREU': 77,051
Contacts remaining after filtering for APREU: 77,051

Contacts with lifecycle stage 'Other': 562
Contacts with lifecycle stage 'subscriber': 1,637
Contacts remaining after filtering out 'Other' and 'subscriber': 74,852

Lifecycle stage distribution (after filtering):

lifecycle_stage
lead                      30031
marketingqualifiedlead    22910
salesqualifiedlead         9295
evangelist                 5382
opportunity                4308
customer                   2620
Unknown                     306
Name: count, dtype: int64

Working shape: (74852, 29)

‚úì Converting numeric columns to proper types...
  ‚úì Converted num_sessions to numeric
  ‚úì Converted num_pageviews to numeric
  ‚úì Converted forms_submitted to numeric
  ‚úì Converted likelihood_to_close to numeric

,contact_id,num_sessions,num_pageviews,forms_submitted,ip_country,ip_state_region,prep_city_bpm,prep_school_bpm,prep_state_bpm,estado_de_procedencia,prep_country_bpm,original_source,original_source_d1,original_source_d2,canal_de_adquisicion,latest_source,last_referrer,likelihood_to_close,apreu_activities,periodo_de_ingreso,periodo_admision_bpm,create_date,close_date,lifecycle_stage,propiedad_del_contacto,days_to_close,ttc_bucket,periodo_ingreso,periodo_admision
216,15255,4,12,5,mexico,queretaro,NaN,NaN,NaN,Quer√©taro,NaN,OFFLINE,CONTACTS,CRM_UI,NaN,REFERRALS,licenciaturas.anahuacqro.edu.mx/,NaN,Interius - Inbound,202510,NaN,2017-12-11 18:48:54.629,2018-08-27 20:46:29.513,evangelist,APREU,259.0,181-365 days,2025 Spring,Unknown
276,22951,2,1,2,mexico,queretaro,NaN,NaN,NaN,Quer√©taro,NaN,OFFLINE,CONTACTS,CRM_UI,NaN,PAID_SOCIAL,www.facebook.com/,NaN,NaN,NaN,NaN,2018-01-02 18:09:00.379,2018-01-16 18:06:36.579,evangelist,APREU,13.0,‚â§30 days,Unknown,Unknown
611,107201,0,0,0,NaN,NaN,NaN,NaN,NaN,Quer√©taro,NaN,DIRECT_TRAFFIC,CONTACTS,CRM_UI,Tr√°fico directo,OFFLINE,NaN,NaN,NaN,202110,NaN,2018-02-26 21:24:28.453,2018-07-30 17:58:29.505,evangelist,APREU,153.0,91-180 days,2021 Spring,Unknown
1253,325151,0,0,0,mexico,queretaro,NaN,NaN,NaN,NaN,NaN,OFFLINE,CONTACTS,CRM_UI,NaN,OFFLINE,NaN,NaN,NaN,NaN,NaN,2018-07-05 14:52:26.877,2018-09-17 14:40:48.996,evangelist,APREU,73.0,31-90 days,Unknown,Unknown
1305,338301,2,2,2,mexico,queretaro,NaN,NaN,NaN,Quer√©taro,NaN,DIRECT_TRAFFIC,CONTACTS,CRM_UI,Tr√°fico directo,REFERRALS,www.anahuac.mx/,NaN,NaN,202110,NaN,2018-07-12 21:11:53.360,2018-07-25 22:55:25.311,evangelist,APREU,13.0,‚â§30 days,2021 Spring,Unknown
2619,1556251,5,13,3,mexico,queretaro,NaN,NaN,NaN,Quer√©taro,NaN,DIRECT_TRAFFIC,anahuac.mx,www.anahuac.mx/queretaro/diplomados,Referencia,DIRECT_TRAFFIC,www.anahuac.mx/queretaro/diplomados,0.993614,NaN,202560,NaN,2019-01-22 15:37:22.923,NaT,marketingqualifiedlead,APREU,NaN,Open/Unknown,2025 Fall,Unknown
3195,2239551,2,4,2,mexico,queretaro,NaN,NaN,NaN,Quer√©taro,NaN,DIRECT_TRAFFIC,info.anahuacqro.mx/wedding-planner-en-queretaro,NaN,Tr√°fico directo,REFERRALS,www.anahuac.mx,0.994021,NaN,202160,NaN,2019-04-01 23:15:39.355,NaT,lead,APREU,NaN,Open/Unknown,2021 Fall,Unknown
3231,2262851,3,3,2,mexico,ciudad de mexico,NaN,NaN,NaN,Quer√©taro,NaN,DIRECT_TRAFFIC,anahuac.mx,www.anahuac.mx/queretaro/maestrias,Tr√°fico directo,REFERRALS,www.anahuac.mx/queretaro/licenciaturas/licenci...,0.994401,NaN,202160,NaN,2019-04-05 04:46:49.042,NaT,lead,APREU,NaN,Open/Unknown,2021 Fall,Unknown
3275,2305801,2,2,2,mexico,queretaro,NaN,NaN,NaN,Quer√©taro,NaN,DIRECT_TRAFFIC,anahuac.mx,www.anahuac.mx/queretaro/maestrias,Tr√°fico directo,DIRECT_TRAFFIC,www.anahuac.mx/queretaro/maestrias,0.994510,NaN,202210,NaN,2019-04-11 15:11:00.507,NaT,lead,APREU,NaN,Open/Unknown,2022 Spring,Unknown
3901,2841051,0,0,0,NaN,NaN,NaN,NaN,NaN,Quer√©taro,NaN,OFFLINE,CONTACTS,CRM_UI,NaN,OFFLINE,NaN,0.994579,Open Day,202110,NaN,2019-07-03 16:38:17.832,NaT,lead,APREU,NaN,Open/Unknown,2021 Spring,Unknown

**Geography**

In [23]:
# --- Text normalization helpers (accents + case)
def norm_txt(s):
    if pd.isna(s): return "unknown"
    s = str(s).strip()
    if s == "": return "unknown"
    s = unicodedata.normalize("NFKD", s)
    s = "".join(ch for ch in s if not unicodedata.combining(ch))
    return s.lower()

# Normalize geography columns (including Estado de procedencia via prep_state_bpm)
geo_cols_to_normalize = ["ip_country", "ip_state_region", "prep_city_bpm", "prep_school_bpm", 
                          "prep_state_bpm", "prep_country_bpm", "estado_de_procedencia"]
for col in geo_cols_to_normalize:
    if col in X.columns:
        X[col] = X[col].apply(norm_txt)

# --- State name normalization (consolidate Estado de Mexico + Ciudad de Mexico)
def normalize_state_name(state_txt):
    """
    Normalize state names to canonical versions.
    Consolidates Estado de Mexico and Ciudad de Mexico into one.
    """
    if pd.isna(state_txt) or state_txt == "unknown":
        return state_txt
    
    state_lower = str(state_txt).lower().strip()
    
    
    return state_lower

# Apply state normalization to state columns
for col in ["ip_state_region", "prep_state_bpm"]:
    if col in X.columns:
        X[col] = X[col].apply(normalize_state_name)
        

# --- Mexico & Quer√©taro detectors
MX_ALIASES = {"mexico","mx","mex","cdmx","mexico."}
QRO_TOKENS = {
    "queretaro","queretaro de arteaga","santiago de queretaro","qro","qro.",
    "queretaro, qro","queretaro qro"
}

# Mexican states (normalized, without accents)
# Mexican states - recognition set (all variants)
MEXICAN_STATES = {
    "aguascalientes", "baja california", "baja california sur", "campeche", "chiapas",
    "chihuahua", "coahuila", "colima", "durango", "guanajuato", "guerrero", "hidalgo",
    "jalisco", "michoacan", "morelos", "nayarit",
    "nuevo leon", "oaxaca", "puebla", "queretaro", "quintana roo", "san luis potosi",
    "sinaloa", "sonora", "tabasco", "tamaulipas", "tlaxcala", "veracruz", "yucatan", "zacatecas",
    # Common abbreviations
    "ags", "bc", "bcs", "camp", "chis", "chih", "coah", "col", "dgo", "gto", "gro", "hgo",
    "jal", "mich", "mor", "nay", "nl", "oax", "pue", "qro", "q.roo", "slp",
    "sin", "son", "tab", "tamps", "tlax", "ver", "yuc", "zac",
    # Estado de Mexico variants
    "edo mex", "estado de mexico", "edo. mex.", "edomex", "mexico",
    # Ciudad de Mexico (CDMX) variants
    "cdmx", "ciudad de mexico", "df", "distrito federal", "cuidad de mexico",
    # Full state names and common variants
    "michoacan de ocampo", "coahuila de zaragoza", "estado de hidalgo",
    "baja california norte", "queretaro queretaro", "san luis",
    # Cities/regions that indicate Mexican states
    "torreon coahuila", "guadalupe, zacatecas", "guerrero.",

}

# State normalization map: variant -> canonical name
STATE_NORMALIZATION = {
    # Aguascalientes
    "aguascalientes": "aguascalientes", "ags": "aguascalientes",
    # Baja California
    "baja california": "baja california", "baja california norte": "baja california", "bc": "baja california",
    # Baja California Sur
    "baja california sur": "baja california sur", "bcs": "baja california sur",
    # Campeche
    "campeche": "campeche", "camp": "campeche",
    # Chiapas
    "chiapas": "chiapas", "chis": "chiapas",
    # Chihuahua
    "chihuahua": "chihuahua", "chih": "chihuahua",
    # Coahuila
    "coahuila": "coahuila", "coahuila de zaragoza": "coahuila", "coah": "coahuila",
    "torreon coahuila": "coahuila",
    # Colima
    "colima": "colima", "col": "colima",
    # Durango
    "durango": "durango", "dgo": "durango",
    # Guanajuato
    "guanajuato": "guanajuato", "gto": "guanajuato",
    # Guerrero
    "guerrero": "guerrero", "guerrero.": "guerrero", "gro": "guerrero",
    # Hidalgo
    "hidalgo": "hidalgo", "estado de hidalgo": "hidalgo", "hgo": "hidalgo",
    # Jalisco
    "jalisco": "jalisco", "jal": "jalisco",
    # Estado de M√©xico
    "estado de mexico": "estado de mexico", "edo mex": "estado de mexico",
    "edo. mex.": "estado de mexico", "edomex": "estado de mexico",
    # Ciudad de M√©xico (CDMX)
    "ciudad de mexico": "ciudad de mexico", "cdmx": "ciudad de mexico",
    "df": "ciudad de mexico", "distrito federal": "ciudad de mexico",
    "cuidad de mexico": "ciudad de mexico",
    # Michoac√°n
    "michoacan": "michoacan", "michoacan de ocampo": "michoacan", "mich": "michoacan",
    # Morelos
    "morelos": "morelos", "mor": "morelos",
    # Nayarit
    "nayarit": "nayarit", "nay": "nayarit",
    # Nuevo Le√≥n
    "nuevo leon": "nuevo leon", "nl": "nuevo leon",
    # Oaxaca
    "oaxaca": "oaxaca", "oax": "oaxaca",
    # Puebla
    "puebla": "puebla", "pue": "puebla",
    # Quer√©taro
    "queretaro": "queretaro", "queretaro queretaro": "queretaro", "qro": "queretaro",
    # Quintana Roo
    "quintana roo": "quintana roo", "q.roo": "quintana roo",
    # San Luis Potos√≠
    "san luis potosi": "san luis potosi", "san luis": "san luis potosi", "slp": "san luis potosi",
    # Sinaloa
    "sinaloa": "sinaloa", "sin": "sinaloa",
    # Sonora
    "sonora": "sonora", "son": "sonora",
    # Tabasco
    "tabasco": "tabasco", "tab": "tabasco",
    # Tamaulipas
    "tamaulipas": "tamaulipas", "tamps": "tamaulipas",
    # Tlaxcala
    "tlaxcala": "tlaxcala", "tlax": "tlaxcala",
    # Veracruz
    "veracruz": "veracruz", "ver": "veracruz",
    # Yucat√°n
    "yucatan": "yucatan", "yuc": "yucatan",
    # Zacatecas
    "zacatecas": "zacatecas", "guadalupe, zacatecas": "zacatecas", "zac": "zacatecas",
    
    "mexico": "estado de mexico",
}

def is_mexico(country_txt):
    return (country_txt in MX_ALIASES)

def is_mexican_state(state_txt):
    """Check if a state name indicates Mexico"""
    if pd.isna(state_txt) or state_txt == "unknown":
        return False
    return state_txt in MEXICAN_STATES

def is_international_indicator(state_txt):
    """Check if state value indicates international/foreign status"""
    if pd.isna(state_txt) or state_txt == "unknown":
        return False
    # Indicators that someone is international
    international_markers = {"soy extranjero", "extranjero", "foreign country", "international"}
    return state_txt in international_markers

def looks_like_qro(*values):
    for v in values:
        if pd.isna(v): 
            continue
        sv = str(v)
        # match whole token anywhere
        if any(tok in sv for tok in QRO_TOKENS):
            return True
    return False

# --- Derive country/state from either IP or Prepa fields (fallback logic)
# Prefer the first non-null and non-'unknown' value across sources.
def coalesce_non_unknown(series_list):
    # Replace literal 'unknown' with NaN for coalescing, then put back 'unknown' at the end
    cleaned = [s.replace({"unknown": np.nan}) if isinstance(s, pd.Series) else s for s in series_list]
    out = pd.concat(cleaned, axis=1).bfill(axis=1).iloc[:,0]
    return out.fillna("unknown")

print("="*80)
print("GEOGRAPHY CLASSIFICATION")
print("="*80)

# Create consolidated geography fields
# Note: prep_state_bpm now includes "Estado de procedencia" as a possible source
X["country_any"] = coalesce_non_unknown([X.get("prep_country_bpm"), X.get("ip_country")])
X["state_any"]   = coalesce_non_unknown([X.get("prep_state_bpm"), X.get("estado_de_procedencia"), X.get("ip_state_region")])
X["city_any"]    = coalesce_non_unknown([X.get("prep_city_bpm")])

# Normalize state names to canonical form
print("\n‚úì Normalizing state names to canonical form...")
X["state_any"] = X["state_any"].map(STATE_NORMALIZATION).fillna(X["state_any"])
normalized_count = len(X[X["state_any"] != "unknown"])
print(f"   Normalized {normalized_count:,} state values")



print(f"\nüìä Total contacts being processed: {len(X):,}")

# --- Classify geo tiers (with international indicators like "Soy Extranjero")
def geo_tier(row):
    ctry = row.get("country_any","unknown")
    st   = row.get("state_any","unknown")
    city = row.get("city_any","unknown")
    
    # Local first (Quer√©taro city or state - check city AND state)
    if looks_like_qro(city) or looks_like_qro(st):
        return "local"
    
    # International indicator (e.g., "Soy Extranjero" in Estado de procedencia)
    if is_international_indicator(st):
        return "international"
    
    # Domestic non-local: explicit Mexico country OR Mexican state name
    # This rescues contacts with Mexican state but missing country
    if is_mexico(ctry) or is_mexican_state(st):
        return "domestic_non_local" 
    
    # International (has country data but not Mexico)
    elif ctry != "unknown":
        return "international"
    
    # No location data (no country, no recognized Mexican state)
    else:
        return "unknown"

X["geo_tier"] = X.apply(geo_tier, axis=1)

# Report on international indicators
intl_indicators = X["state_any"].apply(is_international_indicator).sum()
if intl_indicators > 0:
    print(f"\n‚úì Detected {intl_indicators:,} contacts with international indicators (e.g., 'Soy Extranjero')")

# --- RESCUE LOGIC: Set country_any = "mexico" for contacts with Mexican state but no country
rescued_mask = (X["country_any"] == "unknown") & (X["geo_tier"].isin(["local", "domestic_non_local"]))
num_rescued = rescued_mask.sum()

if num_rescued > 0:
    print(f"\n‚úÖ RESCUED {num_rescued:,} contacts with Mexican state but missing country!")
    print(f"   Setting their country_any = 'mexico'")
    
    # Set country_any to "mexico" for rescued contacts
    X.loc[rescued_mask, "country_any"] = "mexico"
    
    print("\nüìã Sample of rescued contacts (AFTER setting country_any):")
    rescued_sample = X[rescued_mask][["country_any","state_any","city_any","geo_tier"]].head(15)
    display(rescued_sample)
    
    # Show breakdown by state
    print(f"\nüìç Rescued contacts by state (Top 10):")
    rescued_by_state = X[rescued_mask]["state_any"].value_counts().head(10).to_frame("count")
    display(rescued_by_state)
else:
    print("\n‚úì No contacts needed rescuing (all have country data)")

# Show final geo tier distribution
print("\n" + "="*80)
print("FINAL GEO TIER DISTRIBUTION")
print("="*80)
geo_counts = X["geo_tier"].value_counts(dropna=False).to_frame("count")
geo_counts["percentage"] = (geo_counts["count"] / len(X) * 100).round(1)
display(geo_counts)

# Show contacts still marked as unknown
unknown = X[X["geo_tier"] == "unknown"]
if len(unknown) > 0:
    print(f"\n‚ö†Ô∏è Still {len(unknown):,} contacts with unknown geography (no country AND no Mexican state)")
    print(f"   This is {(len(unknown)/len(X)*100):.1f}% of total contacts")
else:
    print("\n‚úÖ All contacts have been classified!")

print("\n" + "="*80)

================================================================================
GEOGRAPHY CLASSIFICATION
================================================================================

‚úì Normalizing state names to canonical form...
   Normalized 69,218 state values

üìä Total contacts being processed: 74,852

‚úì Detected 2,714 contacts with international indicators (e.g., 'Soy Extranjero')

‚úÖ RESCUED 15,983 contacts with Mexican state but missing country!
   Setting their country_any = 'mexico'

üìã Sample of rescued contacts (AFTER setting country_any):

     country_any        state_any city_any            geo_tier
611       mexico        queretaro  unknown               local
3901      mexico        queretaro  unknown               local
8124      mexico  san luis potosi  unknown  domestic_non_local
8142      mexico        queretaro  unknown               local
8149      mexico        queretaro  unknown               local
8154      mexico        chihuahua  unknown  domestic_non_local
8156      mexico        michoacan  unknown  domestic_non_local
8160      mexico       guanajuato  unknown  domestic_non_local
8161      mexico        queretaro  unknown               local
8167      mexico          sinaloa  unknown  domestic_non_local
8171      mexico       guanajuato  unknown  domestic_non_local
8172      mexico          hidalgo  unknown  domestic_non_local
8175      mexico        queretaro  unknown               local
8209      mexico       guanajuato  unknown  domestic_non_local
8222      mexico       guanajuato  unknown  domestic_non_local

üìç Rescued contacts by state (Top 10):

                  count
state_any
queretaro          5035
guanajuato         2060
estado de mexico   1116
ciudad de mexico   1099
michoacan           911
hidalgo             619
veracruz            452
san luis potosi     419
sinaloa             393
jalisco             372

================================================================================
FINAL GEO TIER DISTRIBUTION
================================================================================

                    count  percentage
geo_tier
domestic_non_local  44140        59.0
local               21946        29.3
unknown              5553         7.4
international        3213         4.3

‚ö†Ô∏è Still 5,553 contacts with unknown geography (no country AND no Mexican state)
   This is 7.4% of total contacts

================================================================================

**Engagement**

In [24]:
# Base engagement features
for c in ["num_sessions","num_pageviews","forms_submitted"]:
    if c in X.columns:
        X[c] = pd.to_numeric(X[c], errors="coerce").fillna(0)

X["log_sessions"] = np.log1p(X.get("num_sessions", 0))
X["log_pageviews"] = np.log1p(X.get("num_pageviews", 0))
X["log_forms"] = np.log1p(X.get("forms_submitted", 0))

# Engagement score (equal weights)
X["engagement_score"] = X["log_sessions"] + X["log_pageviews"] + X["log_forms"]

# Mark High/Low per geo tier using a quantile threshold
HIGH_ENG_Q = 0.70  # top 30% within each tier => "High"
X["is_high_engager"] = False
for tier, grp in X.groupby("geo_tier"):
    thr = grp["engagement_score"].quantile(HIGH_ENG_Q) if len(grp) > 0 else np.inf
    X.loc[grp.index, "is_high_engager"] = grp["engagement_score"] >= thr

# Quick sanity
display(
    X.groupby("geo_tier")["engagement_score"]
     .agg(n="count", mean="mean", q70=lambda s: s.quantile(HIGH_ENG_Q))
     .round(3)
)

                        n   mean    q70
geo_tier
domestic_non_local  44140  2.251  3.178
international        3213  2.267  3.178
local               21946  2.421  3.466
unknown              5553  0.014  0.000

### **Engagement Segmentation Analysis**

**Current Method Evaluation:**

In [25]:
# ===== ANALYSIS OF CURRENT METHOD =====
# Current distribution analysis
current_dist = X.groupby(["geo_tier", "is_high_engager"]).size().unstack(fill_value=0)
current_dist["total"] = current_dist.sum(axis=1)
current_dist["high_pct"] = (current_dist[True] / current_dist["total"] * 100).round(1)

print("\nCurrent Distribution:")
display(current_dist)

# Show actual engagement stats for high/low in each tier
print("\nEngagement Stats by Geo Tier & High/Low:")
engagement_analysis = (
    X.groupby(["geo_tier", "is_high_engager"])
    .agg({
        "num_sessions": ["count", "mean", "median"],
        "num_pageviews": ["mean", "median"], 
        "forms_submitted": ["mean", "median"],
        "engagement_score": ["mean", "median", "min", "max"]
    })
    .round(2)
)
display(engagement_analysis)

Current Distribution:

is_high_engager     False   True  total  high_pct
geo_tier
domestic_non_local  30202  13938  44140      31.6
international        2205   1008   3213      31.4
local               15240   6706  21946      30.6
unknown                 0   5553   5553     100.0

Engagement Stats by Geo Tier & High/Low:

                                   num_sessions              num_pageviews        forms_submitted        engagement_score               \
                                          count  mean median          mean median            mean median             mean median   min
geo_tier           is_high_engager
domestic_non_local False                  30202  0.57    1.0          0.72    0.0            0.51    0.0             1.13   1.39  0.00
                   True                   13938  4.77    3.0         12.34    7.0            1.62    1.0             4.68   4.28  3.18
international      False                   2205  0.59    1.0          0.84    0.0            0.54    1.0             1.22   1.39  0.00
                   True                    1008  4.21    3.0         11.36    7.0            1.51    1.0             4.55   4.19  3.18
local              False                  15240  0.62    1.0          0.88    0.0            0.53    1.0             1.22   1.39  0.00
                   True                    6706  6.07    4.0         14.22    9.0            1.93    2.0             5.16   4.84  3.47
unknown            True                    5553  0.01    0.0          0.00    0.0            0.01    0.0             0.01   0.00  0.00


                                      max
geo_tier           is_high_engager
domestic_non_local False             3.18
                   True             14.58
international      False             3.18
                   True             11.04
local              False             3.47
                   True             11.90
unknown            True              2.89

In [26]:
def assign_c2(row):
    tier = row["geo_tier"]
    hi   = bool(row["is_high_engager"])
    if tier == "domestic_non_local":
        return "2A" if hi else "2B"
    if tier == "international":
        return "2C" if hi else "2D"
    if tier == "local":
        return "2E" if hi else "2F"
    return "2Z"  # unknown fallback

X["segment_c2"] = X.apply(assign_c2, axis=1)

ACTION_MAP = {
    "2A": "Invite to in-person APREU activities (MX non-QRO).",
    "2B": "WhatsApp/email pushes to increase site activity (MX non-QRO).",
    "2C": "Webinars + virtual Q&A (International).",
    "2D": "Awareness + local-language content (International).",
    "2E": "Local QRO: in-person APREU invites + campus tours.",
    "2F": "Local QRO nurture: WhatsApp reminders, quick wins to drive sessions.",
    "2Z": "Investigate missing/uncertain geography."
}
X["segment_c2_action"] = X["segment_c2"].map(ACTION_MAP)

print("Counts by segment_c2:")
display(X["segment_c2"].value_counts().sort_index().to_frame("count"))

print("\nSample (id, geo, engagement, segment, action):")
cols_show = [c for c in [
    "contact_id","country_any","state_any","city_any",
    "num_sessions","num_pageviews","forms_submitted","engagement_score",
    "geo_tier","is_high_engager","segment_c2","segment_c2_action"
] if c in X.columns]
display(X[cols_show].head(15))

Counts by segment_c2:

            count
segment_c2
2A          13938
2B          30202
2C           1008
2D           2205
2E           6706
2F          15240
2Z           5553

Sample (id, geo, engagement, segment, action):

,contact_id,country_any,state_any,city_any,num_sessions,num_pageviews,forms_submitted,engagement_score,geo_tier,is_high_engager,segment_c2,segment_c2_action
216,15255,mexico,queretaro,unknown,4,12,5,5.966147,local,True,2E,Local QRO: in-person APREU invites + campus to...
276,22951,mexico,queretaro,unknown,2,1,2,2.890372,local,False,2F,"Local QRO nurture: WhatsApp reminders, quick w..."
611,107201,mexico,queretaro,unknown,0,0,0,0.000000,local,False,2F,"Local QRO nurture: WhatsApp reminders, quick w..."
1253,325151,mexico,queretaro,unknown,0,0,0,0.000000,local,False,2F,"Local QRO nurture: WhatsApp reminders, quick w..."
1305,338301,mexico,queretaro,unknown,2,2,2,3.295837,local,False,2F,"Local QRO nurture: WhatsApp reminders, quick w..."
2619,1556251,mexico,queretaro,unknown,5,13,3,5.817111,local,True,2E,Local QRO: in-person APREU invites + campus to...
3195,2239551,mexico,queretaro,unknown,2,4,2,3.806662,local,True,2E,Local QRO: in-person APREU invites + campus to...
3231,2262851,mexico,queretaro,unknown,3,3,2,3.871201,local,True,2E,Local QRO: in-person APREU invites + campus to...
3275,2305801,mexico,queretaro,unknown,2,2,2,3.295837,local,False,2F,"Local QRO nurture: WhatsApp reminders, quick w..."
3901,2841051,mexico,queretaro,unknown,0,0,0,0.000000,local,False,2F,"Local QRO nurture: WhatsApp reminders, quick w..."
3990,2876301,mexico,queretaro,unknown,5,18,6,6.682109,local,True,2E,Local QRO: in-person APREU invites + campus to...
4103,2925001,mexico,queretaro,unknown,2,2,1,2.890372,local,False,2F,"Local QRO nurture: WhatsApp reminders, quick w..."
4376,3024801,mexico,queretaro,unknown,1,1,1,2.079442,local,False,2F,"Local QRO nurture: WhatsApp reminders, quick w..."
4387,3035851,united states,queretaro,unknown,9,13,2,6.040255,local,True,2E,Local QRO: in-person APREU invites + campus to...
4460,3064601,mexico,queretaro,unknown,3,5,2,4.276666,local,True,2E,Local QRO: in-person APREU invites + campus to...

### **üó∫Ô∏è STATE-LEVEL SUB-SEGMENTATION** 

**Purpose:** Add regional intelligence within domestic segments (2A/2B) for state-specific targeting.

**Benefits:**
- üìç Identify high-performing vs low-performing states
- üéØ Enable state-specific marketing campaigns
- üí∞ Optimize regional budget allocation
- üìà Track state-level trends over time

In [27]:
# ===== STATE ABBREVIATION MAPPING =====
STATE_ABBR_MAP = {
    "aguascalientes": "AGS",
    "baja california": "BC",
    "baja california sur": "BCS",
    "campeche": "CAMP",
    "chiapas": "CHIS",
    "chihuahua": "CHIH",
    "coahuila": "COAH",
    "colima": "COL",
    "durango": "DGO",
    "guanajuato": "GTO",
    "guerrero": "GRO",
    "hidalgo": "HGO",
    "jalisco": "JAL",
    "michoacan": "MICH",
    "morelos": "MOR",
    "nayarit": "NAY",
    "nuevo leon": "NL",
    "oaxaca": "OAX",
    "puebla": "PUE",
    "queretaro": "QRO",
    "quintana roo": "QROO",
    "san luis potosi": "SLP",
    "sinaloa": "SIN",
    "sonora": "SON",
    "tabasco": "TAB",
    "tamaulipas": "TAMPS",
    "tlaxcala": "TLAX",
    "veracruz": "VER",
    "yucatan": "YUC",
    "zacatecas": "ZAC",
    # Consolidated: Ciudad de Mexico (includes Estado de Mexico and CDMX)
    "ciudad de mexico": "CDMX",
}

# ===== ADD STATE ABBREVIATION =====
X["state_abbr"] = X["state_any"].map(STATE_ABBR_MAP).fillna("OTHER")

# ===== CREATE COMBINED SEGMENT with STATE =====
# Only add state suffix for domestic segments (2A/2B)
def add_state_to_segment(row):
    seg = row["segment_c2"]
    if seg in ["2A", "2B"] and row["state_abbr"] != "OTHER":
        return f"{seg}-{row['state_abbr']}"
    return seg

X["segment_state"] = X.apply(add_state_to_segment, axis=1)

# ===== STATE PERFORMANCE METRICS =====
print("="*80)
print("STATE-LEVEL PERFORMANCE ANALYSIS (Domestic Segments Only)")
print("="*80)

# Filter to domestic only (2A + 2B)
domestic = X[X["segment_c2"].isin(["2A", "2B"])].copy()

if len(domestic) > 0:
    # Calculate state-level metrics
    state_performance = domestic.groupby("state_any").agg({
        "contact_id": "count",
        "engagement_score": "mean",
        "num_sessions": "mean",
        "num_pageviews": "mean",
        "forms_submitted": "mean",
        "likelihood_to_close": lambda x: x.mean() if x.notna().any() else 0,
        "close_date": lambda x: (x.count() / len(x) * 100) if len(x) > 0 else 0
    }).round(2)
    
    state_performance.columns = [
        "total_contacts", "avg_engagement", "avg_sessions", 
        "avg_pageviews", "avg_forms", "avg_likelihood_%", "close_rate_%"
    ]
    
    # Add percentage of total domestic
    state_performance["pct_of_domestic"] = (
        state_performance["total_contacts"] / len(domestic) * 100
    ).round(1)
    
    # Sort by volume
    state_performance = state_performance.sort_values("total_contacts", ascending=False)
    
    print(f"\nüìä Total Domestic Contacts: {len(domestic):,}")
    print(f"üìä Unique States: {domestic['state_any'].nunique()}")
    
    print("\nüèÜ TOP 10 STATES BY VOLUME:")
    display(state_performance.head(10))
    
    print("\n‚≠ê TOP 10 STATES BY ENGAGEMENT SCORE:")
    top_engagement = state_performance.sort_values("avg_engagement", ascending=False).head(10)
    display(top_engagement)
    
    print("\nüí∞ TOP 10 STATES BY CLOSE RATE (min 20 contacts):")
    high_volume_states = state_performance[state_performance["total_contacts"] >= 20]
    if len(high_volume_states) > 0:
        top_close_rate = high_volume_states.sort_values("close_rate_%", ascending=False).head(10)
        display(top_close_rate)
    else:
        print("(No states with 20+ contacts)")
    
    # ===== SEGMENT BREAKDOWN BY STATE =====
    print("\n"+"="*80)
    print("SEGMENT SPLIT BY STATE (Top 15 States)")
    print("="*80)
    
    top_15_states = state_performance.head(15).index
    segment_by_state = domestic[domestic["state_any"].isin(top_15_states)].groupby(
        ["state_any", "segment_c2"]
    ).size().unstack(fill_value=0)
    
    # Add percentages
    segment_by_state["Total"] = segment_by_state.sum(axis=1)
    if "2A" in segment_by_state.columns and "2B" in segment_by_state.columns:
        segment_by_state["pct_2A"] = (
            segment_by_state["2A"] / segment_by_state["Total"] * 100
        ).round(1)
    
    display(segment_by_state.sort_values("Total", ascending=False))
    
    # ===== STATE TIER CLASSIFICATION =====
    print("\n"+"="*80)
    print("STATE TIER CLASSIFICATION (Volume + Engagement)")
    print("="*80)
    
    # Calculate percentiles
    volume_p75 = state_performance["total_contacts"].quantile(0.75)
    volume_p50 = state_performance["total_contacts"].quantile(0.50)
    eng_p75 = state_performance["avg_engagement"].quantile(0.75)
    close_p75 = state_performance["close_rate_%"].quantile(0.75)
    
    def classify_state_tier(row):
        vol = row["total_contacts"]
        eng = row["avg_engagement"]
        close = row["close_rate_%"]
        
        if vol >= volume_p75 and eng >= eng_p75:
            return "üåü Strategic"
        elif (vol >= volume_p50 and close >= close_p75) or (vol >= volume_p75):
            return "üìà Growth"
        elif close >= close_p75 and vol >= 10:
            return "üíé Opportunity"
        else:
            return "‚ö†Ô∏è Challenge"
    
    state_performance["tier"] = state_performance.apply(classify_state_tier, axis=1)
    
    # Show tier distribution
    print("\nTier Definitions:")
    print("üåü Strategic: High volume + High engagement (top 25% in both)")
    print("üìà Growth: High volume OR (medium volume + high close rate)")
    print("üíé Opportunity: High close rate + minimum volume (hidden gems)")
    print("‚ö†Ô∏è Challenge: Below average in key metrics (need attention)")
    
    tier_summary = state_performance.groupby("tier").agg({
        "total_contacts": ["count", "sum"],
        "avg_engagement": "mean",
        "close_rate_%": "mean"
    }).round(2)
    
    print("\nüìä Tier Summary:")
    display(tier_summary)
    
    print("\nüó∫Ô∏è States by Tier:")
    for tier in ["üåü Strategic", "üìà Growth", "üíé Opportunity", "‚ö†Ô∏è Challenge"]:
        states_in_tier = state_performance[state_performance["tier"] == tier].head(8)
        if len(states_in_tier) > 0:
            print(f"\n{tier}:")
            print(", ".join(states_in_tier.index.tolist()))
    
    # Merge tier back to main dataframe
    state_tier_map = state_performance["tier"].to_dict()
    X["state_tier"] = X["state_any"].map(state_tier_map).fillna("N/A")
    
    # Keep state_performance for export
    prof_state_performance = state_performance.reset_index().rename(columns={"state_any": "state"})
    
else:
    print("\n‚ö†Ô∏è No domestic contacts found for state analysis")
    prof_state_performance = pd.DataFrame()

print("\n‚úÖ State sub-segmentation complete!")
print(f"   New columns added: state_abbr, segment_state, state_tier")
print(f"   Combined segments examples: {X['segment_state'].value_counts().head(3).index.tolist()}")

================================================================================
STATE-LEVEL PERFORMANCE ANALYSIS (Domestic Segments Only)
================================================================================

üìä Total Domestic Contacts: 44,140
üìä Unique States: 49

üèÜ TOP 10 STATES BY VOLUME:

                  total_contacts  avg_engagement  avg_sessions  avg_pageviews  avg_forms  avg_likelihood_%  close_rate_%  pct_of_domestic
state_any
guanajuato                  9632            2.52          2.25           5.02       0.97              1.17          8.65             21.8
michoacan                   4410            2.44          2.09           4.46       0.97              1.21          8.87             10.0
sinaloa                     4016            2.61          2.06           3.61       1.07              1.30          9.61              9.1
estado de mexico            3991            2.24          1.86           4.40       0.86              1.21          7.29              9.0
ciudad de mexico            3206            1.83          1.40           3.37       0.71              1.14          6.18              7.3
hidalgo                     2243            2.25          1.86           4.74       0.83              1.19          7.00              5.1
sonora                      1932            2.27          1.79           3.40       0.86              1.22          8.39              4.4
san luis potosi             1762            2.23          1.85           4.27       0.84              1.19          6.81              4.0
veracruz                    1389            1.85          1.39           4.00       0.67              1.16          5.90              3.1
tamaulipas                  1076            2.43          2.16           5.86       0.86              1.27          7.81              2.4

‚≠ê TOP 10 STATES BY ENGAGEMENT SCORE:

                  total_contacts  avg_engagement  avg_sessions  avg_pageviews  avg_forms  avg_likelihood_%  close_rate_%  pct_of_domestic
state_any
quinsana roo                   1            8.62         21.00          62.00       3.00              1.36          0.00              0.0
celaya                         1            6.33         10.00          16.00       2.00              0.00        100.00              0.0
san juan del rio               1            5.84          2.00          22.00       4.00              0.75        100.00              0.0
irapuato                       1            5.39          4.00          10.00       3.00              1.00          0.00              0.0
completado                     1            4.64          3.00          25.00       0.00              0.00        100.00              0.0
6to semestre                   1            4.16          3.00           7.00       1.00              0.99          0.00              0.0
texcoco                        1            3.58          2.00           5.00       1.00              0.99          0.00              0.0
sinaloa                     4016            2.61          2.06           3.61       1.07              1.30          9.61              9.1
guanajuato                  9632            2.52          2.25           5.02       0.97              1.17          8.65             21.8
ultimo ano                     1            2.48          2.00           0.00       3.00              0.99          0.00              0.0

üí∞ TOP 10 STATES BY CLOSE RATE (min 20 contacts):

,total_contacts,avg_engagement,avg_sessions,avg_pageviews,avg_forms,avg_likelihood_%,close_rate_%,pct_of_domestic
state_any,,,,,,,,
durango,577,2.28,2.03,5.46,0.89,1.16,11.79,1.3
baja california sur,342,2.11,1.92,4.87,0.72,1.45,10.82,0.8
baja california,958,2.31,2.01,4.41,0.91,1.29,9.81,2.2
sinaloa,4016,2.61,2.06,3.61,1.07,1.30,9.61,9.1
colima,170,1.79,1.46,3.48,0.63,1.26,9.41,0.4
nayarit,183,2.01,1.53,3.68,0.76,1.27,9.29,0.4
morelos,592,2.02,1.70,4.04,0.76,1.20,8.95,1.3
michoacan,4410,2.44,2.09,4.46,0.97,1.21,8.87,10.0
chihuahua,459,1.50,1.10,3.14,0.52,1.18,8.71,1.0
guanajuato,9632,2.52,2.25,5.02,0.97,1.17,8.65,21.8

================================================================================
SEGMENT SPLIT BY STATE (Top 15 States)
================================================================================

segment_c2          2A    2B  Total  pct_2A
state_any
guanajuato        3564  6068   9632    37.0
michoacan         1498  2912   4410    34.0
sinaloa           1230  2786   4016    30.6
estado de mexico  1324  2667   3991    33.2
ciudad de mexico   798  2408   3206    24.9
hidalgo            750  1493   2243    33.4
sonora             537  1395   1932    27.8
san luis potosi    552  1210   1762    31.3
veracruz           373  1016   1389    26.9
tamaulipas         405   671   1076    37.6
jalisco            255   739    994    25.7
baja california    292   666    958    30.5
coahuila           225   629    854    26.3
guerrero           205   490    695    29.5
oaxaca             194   448    642    30.2

================================================================================
STATE TIER CLASSIFICATION (Volume + Engagement)
================================================================================

Tier Definitions:
üåü Strategic: High volume + High engagement (top 25% in both)
üìà Growth: High volume OR (medium volume + high close rate)
üíé Opportunity: High close rate + minimum volume (hidden gems)
‚ö†Ô∏è Challenge: Below average in key metrics (need attention)

üìä Tier Summary:

              total_contacts        avg_engagement close_rate_%
                       count    sum           mean         mean
tier
‚ö†Ô∏è Challenge              30   5354           2.25        15.56
üåü Strategic                5  20092           2.46         8.95
üíé Opportunity              2    353           1.90         9.35
üìà Growth                  12  18341           2.01         7.90

üó∫Ô∏è States by Tier:

üåü Strategic:
guanajuato, michoacan, sinaloa, tamaulipas, baja california

üìà Growth:
estado de mexico, ciudad de mexico, hidalgo, sonora, san luis potosi, veracruz, jalisco, coahuila

üíé Opportunity:
nayarit, colima

‚ö†Ô∏è Challenge:
guerrero, oaxaca, puebla, zacatecas, aguascalientes, chiapas, nuevo leon, tabasco

‚úÖ State sub-segmentation complete!
   New columns added: state_abbr, segment_state, state_tier
   Combined segments examples: ['2F', '2E', '2B-GTO']

In [28]:
# Ratios
X["pageviews_per_session"] = (X.get("num_pageviews", 0)) / (X.get("num_sessions", 0))
X["forms_per_session"]     = (X.get("forms_submitted", 0)) / (X.get("num_sessions", 0))
X["forms_per_pageview"]    = (X.get("forms_submitted", 0)) / ( X.get("num_pageviews", 0))

# Clean ratio edge cases
for c in ["pageviews_per_session", "forms_per_session", "forms_per_pageview"]:
    X[c] = pd.to_numeric(X[c], errors="coerce").replace([np.inf, -np.inf], np.nan).fillna(0)

ratio_cols = ["pageviews_per_session","forms_per_session","forms_per_pageview"]
num_cols = ["num_sessions","num_pageviews","forms_submitted","engagement_score"] + ratio_cols

display(X[["contact_id","segment_c2"] + num_cols].head(10))

,contact_id,segment_c2,num_sessions,num_pageviews,forms_submitted,engagement_score,pageviews_per_session,forms_per_session,forms_per_pageview
216,15255,2E,4,12,5,5.966147,3.0,1.250000,0.416667
276,22951,2F,2,1,2,2.890372,0.5,1.000000,2.000000
611,107201,2F,0,0,0,0.000000,0.0,0.000000,0.000000
1253,325151,2F,0,0,0,0.000000,0.0,0.000000,0.000000
1305,338301,2F,2,2,2,3.295837,1.0,1.000000,1.000000
2619,1556251,2E,5,13,3,5.817111,2.6,0.600000,0.230769
3195,2239551,2E,2,4,2,3.806662,2.0,1.000000,0.500000
3231,2262851,2E,3,3,2,3.871201,1.0,0.666667,0.666667
3275,2305801,2F,2,2,2,3.295837,1.0,1.000000,1.000000
3901,2841051,2F,0,0,0,0.000000,0.0,0.000000,0.000000

In [29]:
# Counts
counts_c2 = X["segment_c2"].value_counts(dropna=False).sort_index().to_frame("count")
total = counts_c2["count"].sum()
counts_c2["share %"] = (counts_c2["count"] / total).round(4) * 100  # %

print("Counts & shares by segment (2A‚Äì2F):")
display(counts_c2)

# Keep for export
prof_counts = counts_c2.reset_index().rename(columns={"index":"segment"})

Counts & shares by segment (2A‚Äì2F):

            count  share %
segment_c2
2A          13938    18.62
2B          30202    40.35
2C           1008     1.35
2D           2205     2.95
2E           6706     8.96
2F          15240    20.36
2Z           5553     7.42

In [30]:
numeric_means = (
    X.groupby("segment_c2")[num_cols]
     .mean()
     .round(3)
     .sort_index()
)
print("Numeric means by segment:")
display(numeric_means)

# Add medians to reduce sensitivity to outliers
numeric_medians = (
    X.groupby("segment_c2")[num_cols]
     .median()
     .round(3)
     .sort_index()
)
print("\nNumeric medians by segment:")
display(numeric_medians)

prof_numeric_means = numeric_means.reset_index().rename(columns={"segment_c2":"segment"})
prof_numeric_medians = numeric_medians.reset_index().rename(columns={"segment_c2":"segment"})

Numeric means by segment:

            num_sessions  num_pageviews  forms_submitted  engagement_score  pageviews_per_session  forms_per_session  forms_per_pageview
segment_c2
2A                 4.771         12.336            1.624             4.678                  3.187              0.555               0.239
2B                 0.574          0.715            0.508             1.132                  0.649              0.461               0.330
2C                 4.211         11.361            1.506             4.549                  3.326              0.575               0.223
2D                 0.588          0.841            0.538             1.224                  0.775              0.497               0.352
2E                 6.071         14.217            1.928             5.162                  2.880              0.481               0.231
2F                 0.625          0.879            0.535             1.216                  0.749              0.450               0.316
2Z                 0.006          0.004            0.011             0.014                  0.003              0.005               0.003

Numeric medians by segment:

            num_sessions  num_pageviews  forms_submitted  engagement_score  pageviews_per_session  forms_per_session  forms_per_pageview
segment_c2
2A                   3.0            7.0              1.0             4.277                  2.296              0.500               0.182
2B                   1.0            0.0              0.0             1.386                  0.000              0.000               0.000
2C                   3.0            7.0              1.0             4.190                  2.500              0.500               0.167
2D                   1.0            0.0              1.0             1.386                  0.000              0.500               0.000
2E                   4.0            9.0              2.0             4.836                  2.000              0.364               0.167
2F                   1.0            0.0              1.0             1.386                  0.000              0.000               0.000
2Z                   0.0            0.0              0.0             0.000                  0.000              0.000               0.000

In [31]:
# Resolve latest source alias if present
LATEST_SOURCE_ALIASES = ["Latest Traffic Source","hs_latest_source","latest_source","latest_traffic_source"]
latest_source_col = next((c for c in LATEST_SOURCE_ALIASES if c in X.columns), None)

if latest_source_col is None:
    print("Latest source not found ‚Äî skipping this block (ok).")
    latest_source_pct = pd.DataFrame()
else:
    src_pct_list = []
    for seg, grp in X.groupby("segment_c2"):
        vc = grp[latest_source_col].fillna("unknown").astype(str).str.strip().replace({"": "unknown"}).value_counts(normalize=True)
        df = vc.mul(100).round(1).to_frame(name="percent").reset_index().rename(columns={"index":"latest_source"})
        df.insert(0, "segment", seg)
        src_pct_list.append(df)
    latest_source_pct = pd.concat(src_pct_list, ignore_index=True) if src_pct_list else pd.DataFrame()
    print("Latest Source % by segment (rows per (segment, source)):")
    display(latest_source_pct)

Latest Source % by segment (rows per (segment, source)):

   segment    latest_source  percent
0       2A   DIRECT_TRAFFIC     48.5
1       2A      PAID_SEARCH     15.4
2       2A  EMAIL_MARKETING     14.6
3       2A   ORGANIC_SEARCH     10.5
4       2A        REFERRALS      8.8
5       2A      PAID_SOCIAL      1.2
6       2A     SOCIAL_MEDIA      0.6
7       2A  OTHER_CAMPAIGNS      0.5
8       2A     AI_REFERRALS      0.0
9       2B          OFFLINE     48.4
10      2B   DIRECT_TRAFFIC     27.5
11      2B        REFERRALS      6.8
12      2B      PAID_SEARCH      6.5
13      2B      PAID_SOCIAL      3.6
14      2B  EMAIL_MARKETING      3.4
15      2B   ORGANIC_SEARCH      2.8
16      2B     SOCIAL_MEDIA      0.6
17      2B  OTHER_CAMPAIGNS      0.3
18      2B     AI_REFERRALS      0.0
19      2C   DIRECT_TRAFFIC     42.6
20      2C  EMAIL_MARKETING     19.8
21      2C      PAID_SEARCH     18.8
22      2C   ORGANIC_SEARCH      8.6
23      2C        REFERRALS      8.2
24      2C      PAID_SOCIAL      1.3
25      2C     SOCIAL_MEDIA      0.3
26      2C  OTHER_CAMPAIGNS      0.3
27      2C     AI_REFERRALS      0.1
28      2D          OFFLINE     45.8
29      2D      PAID_SEARCH     20.5
30      2D   DIRECT_TRAFFIC     19.5
31      2D        REFERRALS      4.7
32      2D  EMAIL_MARKETING      4.2
33      2D   ORGANIC_SEARCH      2.6
34      2D      PAID_SOCIAL      2.0
35      2D     SOCIAL_MEDIA      0.7
36      2D  OTHER_CAMPAIGNS      0.1
37      2D     AI_REFERRALS      0.0
38      2E   DIRECT_TRAFFIC     46.3
39      2E  EMAIL_MARKETING     22.2
40      2E      PAID_SEARCH     11.6
41      2E   ORGANIC_SEARCH     11.3
42      2E        REFERRALS      6.4
43      2E      PAID_SOCIAL      1.0
44      2E     SOCIAL_MEDIA      0.7
45      2E  OTHER_CAMPAIGNS      0.5
46      2E     AI_REFERRALS      0.0
47      2F          OFFLINE     49.1
48      2F   DIRECT_TRAFFIC     25.8
49      2F        REFERRALS      7.4
50      2F      PAID_SEARCH      5.9
51      2F  EMAIL_MARKETING      5.9
52      2F   ORGANIC_SEARCH      3.8
53      2F      PAID_SOCIAL      1.2
54      2F  OTHER_CAMPAIGNS      0.4
55      2F     SOCIAL_MEDIA      0.4
56      2F     AI_REFERRALS      0.0
57      2Z          OFFLINE     97.7
58      2Z      PAID_SOCIAL      2.0
59      2Z   DIRECT_TRAFFIC      0.3

In [32]:
# Robust resolver (also catches 'lyfecycle_stage')
LCS_ALIASES = ["lifecycle_stage","hs_lifecyclestage","lyfecycle_stage","Lifecycle Stage"]
lcs_col = next((c for c in LCS_ALIASES if c in X.columns), None)

if lcs_col is None:
    print("Lifecycle Stage not found ‚Äî skipping this block (ok).")
    lifecycle_pct = pd.DataFrame()
    lifecycle_top = pd.DataFrame()
else:
    def pct_by_seg(col):
        out = []
        for seg, grp in X.groupby("segment_c2"):
            vc = grp[col].fillna("unknown").astype(str).str.strip().replace({"": "unknown"}).value_counts(normalize=True)
            df = (vc * 100).round(1).to_frame("percent").reset_index().rename(columns={"index": col})
            df.insert(0, "segment", seg)
            out.append(df)
        return pd.concat(out, ignore_index=True) if out else pd.DataFrame()

    lifecycle_pct = pct_by_seg(lcs_col)
    lifecycle_top = (
        lifecycle_pct.sort_values(["segment","percent"], ascending=[True,False])
                      .groupby("segment")
                      .head(1)
                      .rename(columns={lcs_col: "most_common_lifecycle"})
                      .reset_index(drop=True)
    )

    print("Lifecycle % by segment:")
    display(lifecycle_pct)
    print("\nMost common lifecycle per segment:")
    display(lifecycle_top)

Lifecycle % by segment:

   segment         lifecycle_stage  percent
0       2A  marketingqualifiedlead     38.0
1       2A                    lead     25.6
2       2A      salesqualifiedlead     13.6
3       2A              evangelist     10.4
4       2A             opportunity      7.9
5       2A                customer      4.6
6       2B                    lead     48.8
7       2B  marketingqualifiedlead     31.9
8       2B      salesqualifiedlead      9.1
9       2B             opportunity      4.8
10      2B              evangelist      3.3
11      2B                customer      1.7
12      2B                 Unknown      0.5
13      2C                    lead     43.4
14      2C  marketingqualifiedlead     29.8
15      2C      salesqualifiedlead     12.2
16      2C              evangelist      6.2
17      2C             opportunity      5.4
18      2C                customer      3.2
19      2D                    lead     58.5
20      2D  marketingqualifiedlead     23.0
21      2D      salesqualifiedlead      9.4
22      2D             opportunity      4.3
23      2D              evangelist      2.4
24      2D                customer      1.9
25      2D                 Unknown      0.5
26      2E  marketingqualifiedlead     31.5
27      2E              evangelist     23.0
28      2E      salesqualifiedlead     14.2
29      2E                    lead     13.6
30      2E             opportunity     10.0
31      2E                customer      7.8
32      2F                    lead     36.7
33      2F  marketingqualifiedlead     32.0
34      2F      salesqualifiedlead     12.3
35      2F              evangelist      8.2
36      2F             opportunity      5.1
37      2F                customer      5.0
38      2F                 Unknown      0.7
39      2Z                    lead     63.0
40      2Z      salesqualifiedlead     27.2
41      2Z  marketingqualifiedlead      3.5
42      2Z             opportunity      2.6
43      2Z                customer      2.3
44      2Z              evangelist      0.8
45      2Z                 Unknown      0.7

Most common lifecycle per segment:

  segment   most_common_lifecycle  percent
0      2A  marketingqualifiedlead     38.0
1      2B                    lead     48.8
2      2C                    lead     43.4
3      2D                    lead     58.5
4      2E  marketingqualifiedlead     31.5
5      2F                    lead     36.7
6      2Z                    lead     63.0

In [33]:
# Likelihood to Close (normalize to 0‚Äì1, summarize by segment)
L2C_ALIASES = ["likelihood_to_close","hs_likelihood_to_close","hs_predictivecontactscore","Likelihood to close"]
l2c_col = next((c for c in L2C_ALIASES if c in X.columns), None)

# Always create these so later cells never crash
X["_l2c_norm"] = np.nan
l2c_summary = pd.DataFrame(columns=["segment","n","mean_pct"])

if l2c_col is None:
    print("Likelihood to Close not found ‚Äî skipping (ok).")
else:
    # Parse numbers safely: handle "87%", "0.87", "87", None
    s = X[l2c_col].astype(str).str.strip()
    s = s.replace({"": np.nan, "nan": np.nan, "None": np.nan})
    s = s.str.replace("%", "", regex=False)
    s = pd.to_numeric(s, errors="coerce")

    # Heuristic: if most values > 1, it's 0‚Äì100 ‚Üí scale to 0‚Äì1
    if s.dropna().gt(1).mean() > 0.5:
        s = s / 100.0

    s = s.clip(0, 1)
    X["likelihood_to_close"] = s

    l2c_summary = (
        X.groupby("segment_c2")["likelihood_to_close"]
         .agg(n=lambda x: x.notna().sum(),
              mean_pct=lambda x: (x.mean(skipna=True)*100).round(2))
         .reset_index()
         .rename(columns={"segment_c2":"segment"})
    )

    print("Likelihood to Close summary by segment (mean %):")
    display(l2c_summary.head(20))

# ===== Close Date & Days to Close Analysis =====

# Close date availability and closure rates
if "close_date" in X.columns:
    print("\nClose Date Availability & Closure Rates:")
    closure_summary = pd.DataFrame({
        "total_contacts": X.groupby("segment_c2").size(),
        "closed_contacts": X.groupby("segment_c2")["close_date"].count(),
        "still_open": X.groupby("segment_c2").size() - X.groupby("segment_c2")["close_date"].count()
    })
    closure_summary["close_rate_%"] = (closure_summary["closed_contacts"] / closure_summary["total_contacts"] * 100).round(1)
    display(closure_summary)

    print("\nClose Date Availability by Segment:")
    closure_overlay = pd.DataFrame({
        "total_contacts": X.groupby("segment_c2").size(),
        "closed_contacts": X.groupby("segment_c2")["close_date"].count(),
        "still_open": X.groupby("segment_c2").size() - X.groupby("segment_c2")["close_date"].count()
    })
    closure_overlay["close_rate_%"] = (closure_overlay["closed_contacts"] / closure_overlay["total_contacts"] * 100).round(1)
    display(closure_overlay.sort_values("close_rate_%", ascending=False))
else:
    print("\n(close_date column not available)")

# Days to close statistics (for closed contacts only)
if "days_to_close" in X.columns:
    closed_contacts = X.dropna(subset=["days_to_close"])
    if not closed_contacts.empty:
        print(f"\nDays to Close Analysis (closed contacts only, n={len(closed_contacts):,}):")
        
        # By segment
        print("\nBy Segment:")
        dtc_seg = closed_contacts.groupby("segment_c2")["days_to_close"].agg([
            "count", "mean", "median", "min", "max", "std"
        ]).round(1)
        dtc_seg.columns = ["closed", "avg_days", "median_days", "min", "max", "std"]
        display(dtc_seg)
        
        # By geo tier (if exists)
        if "geo_tier" in closed_contacts.columns:
            print("\nBy Geography Tier:")
            dtc_geo = closed_contacts.groupby("geo_tier")["days_to_close"].agg([
                "count", "mean", "median", "min", "max"
            ]).round(1)
            dtc_geo.columns = ["closed", "avg_days", "median_days", "min", "max"]
            display(dtc_geo)
    else:
        print("\n(no closed contacts found)")
else:
    print("\n(days_to_close not calculated)")

# Time to close bucket distribution
if "ttc_bucket" in X.columns:
    print("\nTime to Close Bucket Distribution:")
    
    print("\nBy Segment (%):")
    ttc_seg_pct = (X.groupby("segment_c2")["ttc_bucket"]
                   .value_counts(normalize=True).mul(100).round(1)
                   .unstack(fill_value=0))
    display(ttc_seg_pct)
    
    print("\nBy Geography Tier (%):")
    if "geo_tier" in X.columns:
        ttc_geo_pct = (X.groupby("geo_tier")["ttc_bucket"]
                       .value_counts(normalize=True).mul(100).round(1)
                       .unstack(fill_value=0))
        display(ttc_geo_pct)
else:
    print("\n(ttc_bucket not calculated)")

# ===== COMPREHENSIVE BUCKET TIME STATISTICS =====
if "ttc_bucket" in X.columns and "close_date" in X.columns:
    print("\n" + "="*80)
    print("COMPREHENSIVE TIME-TO-CLOSE BUCKET ANALYSIS")
    print("="*80)
    
    # Overall bucket distribution with counts and percentages
    print("\n1. Overall Bucket Distribution:")
    overall_buckets = X["ttc_bucket"].value_counts()
    overall_pct = X["ttc_bucket"].value_counts(normalize=True).mul(100).round(2)
    
    bucket_summary = pd.DataFrame({
        "count": overall_buckets,
        "percentage": overall_pct
    }).fillna(0)
    display(bucket_summary.sort_index())
    
    # Detailed segment breakdown with statistics
    print("\n2. Bucket Distribution by Segment (2A-2F):")
    segment_bucket_stats = []
    
    for segment in sorted(X["segment_c2"].unique()):
        seg_data = X[X["segment_c2"] == segment]
        total_contacts = len(seg_data)
        
        # Calculate bucket distribution for this segment
        bucket_dist = seg_data["ttc_bucket"].value_counts()
        bucket_pct = seg_data["ttc_bucket"].value_counts(normalize=True).mul(100).round(1)
        
        # Closed vs open split
        closed_contacts = seg_data["close_date"].count()
        open_contacts = total_contacts - closed_contacts
        close_rate = (closed_contacts / total_contacts * 100).round(1) if total_contacts > 0 else 0
        
        # Days to close stats for closed contacts
        closed_seg_data = seg_data.dropna(subset=["days_to_close"])
        avg_days = closed_seg_data["days_to_close"].mean() if not closed_seg_data.empty else None
        median_days = closed_seg_data["days_to_close"].median() if not closed_seg_data.empty else None
        
        segment_bucket_stats.append({
            "segment": segment,
            "total_contacts": total_contacts,
            "closed_contacts": closed_contacts,
            "open_contacts": open_contacts,
            "close_rate_%": close_rate,
            "avg_days_to_close": round(avg_days, 1) if avg_days else "N/A",
            "median_days_to_close": round(median_days, 1) if median_days else "N/A",
            "fast_close_‚â§30d_%": bucket_pct.get("‚â§30 days", 0),
            "medium_close_31-90d_%": bucket_pct.get("31-90 days", 0),
            "slow_close_91-180d_%": bucket_pct.get("91-180 days", 0),
            "very_slow_close_181-365d_%": bucket_pct.get("181-365 days", 0),
            "extremely_slow_>365d_%": bucket_pct.get(">365 days", 0),
            "still_open_%": bucket_pct.get("Open/Unknown", 0)
        })
    
    segment_bucket_df = pd.DataFrame(segment_bucket_stats)
    display(segment_bucket_df)
    
    # Geography tier breakdown
    print("\n3. Bucket Distribution by Geography Tier:")
    if "geo_tier" in X.columns:
        geo_bucket_stats = []
        
        for geo in sorted(X["geo_tier"].unique()):
            geo_data = X[X["geo_tier"] == geo]
            total_contacts = len(geo_data)
            
            # Calculate bucket distribution for this geography
            bucket_dist = geo_data["ttc_bucket"].value_counts()
            bucket_pct = geo_data["ttc_bucket"].value_counts(normalize=True).mul(100).round(1)
            
            # Closed vs open split
            closed_contacts = geo_data["close_date"].count()
            open_contacts = total_contacts - closed_contacts
            close_rate = (closed_contacts / total_contacts * 100).round(1) if total_contacts > 0 else 0
            
            # Days to close stats for closed contacts
            closed_geo_data = geo_data.dropna(subset=["days_to_close"])
            avg_days = closed_geo_data["days_to_close"].mean() if not closed_geo_data.empty else None
            median_days = closed_geo_data["days_to_close"].median() if not closed_geo_data.empty else None
            
            geo_bucket_stats.append({
                "geography": geo,
                "total_contacts": total_contacts,
                "closed_contacts": closed_contacts,
                "open_contacts": open_contacts,
                "close_rate_%": close_rate,
                "avg_days_to_close": round(avg_days, 1) if avg_days else "N/A",
                "median_days_to_close": round(median_days, 1) if median_days else "N/A",
                "fast_close_‚â§30d_%": bucket_pct.get("‚â§30 days", 0),
                "medium_close_31-90d_%": bucket_pct.get("31-90 days", 0),
                "slow_close_91-180d_%": bucket_pct.get("91-180 days", 0),
                "very_slow_close_181-365d_%": bucket_pct.get("181-365 days", 0),
                "extremely_slow_>365d_%": bucket_pct.get(">365 days", 0),
                "still_open_%": bucket_pct.get("Open/Unknown", 0)
            })
        
        geo_bucket_df = pd.DataFrame(geo_bucket_stats)
        display(geo_bucket_df)
    
    # Cross-tabulation: Segment vs Geography with bucket focus
    print("\n4. Cross-Analysis: Segment √ó Geography √ó Closure Speed:")
    if "geo_tier" in X.columns:
        # Focus on fast closers (‚â§30 days) by segment and geography
        fast_closers = X[X["ttc_bucket"] == "‚â§30 days"]
        if not fast_closers.empty:
            print("\nFast Closers (‚â§30 days) by Segment and Geography:")
            fast_cross = pd.crosstab(
                fast_closers["segment_c2"], 
                fast_closers["geo_tier"], 
                margins=True, 
                margins_name="Total"
            )
            display(fast_cross)
        
        # Slow closers (>180 days) analysis
        slow_closers = X[X["ttc_bucket"].isin(["181-365 days", ">365 days"])]
        if not slow_closers.empty:
            print("\nSlow Closers (>180 days) by Segment and Geography:")
            slow_cross = pd.crosstab(
                slow_closers["segment_c2"], 
                slow_closers["geo_tier"], 
                margins=True, 
                margins_name="Total"
            )
            display(slow_cross)
    
    # Key insights summary
    print("\n5. Key Bucket Insights:")
    insights = []
    
    # Find fastest closing segment
    if not segment_bucket_df.empty:
        fastest_segment = segment_bucket_df.loc[segment_bucket_df["fast_close_‚â§30d_%"].idxmax()]
        insights.append(f"‚Ä¢ Fastest closing segment: {fastest_segment['segment']} ({fastest_segment['fast_close_‚â§30d_%']:.1f}% close ‚â§30 days)")
        
        # Find segment with highest close rate
        highest_close_rate = segment_bucket_df.loc[segment_bucket_df["close_rate_%"].idxmax()]
        insights.append(f"‚Ä¢ Highest close rate: {highest_close_rate['segment']} ({highest_close_rate['close_rate_%']:.1f}% closed)")
        
        # Find most challenging segment
        if "still_open_%" in segment_bucket_df.columns:
            most_open = segment_bucket_df.loc[segment_bucket_df["still_open_%"].idxmax()]
            insights.append(f"‚Ä¢ Most contacts still open: {most_open['segment']} ({most_open['still_open_%']:.1f}% still open)")
    
    if "geo_tier" in X.columns and not geo_bucket_df.empty:
        # Geography insights
        fastest_geo = geo_bucket_df.loc[geo_bucket_df["fast_close_‚â§30d_%"].idxmax()]
        insights.append(f"‚Ä¢ Fastest geography: {fastest_geo['geography']} ({fastest_geo['fast_close_‚â§30d_%']:.1f}% close ‚â§30 days)")
    
    for insight in insights:
        print(insight)
    
    print("\n" + "="*80)
    
else:
    print("\n(Comprehensive bucket analysis not available - missing ttc_bucket or close_date)")
    segment_bucket_df = pd.DataFrame()
    geo_bucket_df = pd.DataFrame()
    bucket_summary = pd.DataFrame()

Likelihood to Close summary by segment (mean %):

  segment      n  mean_pct
0      2A  12298     95.90
1      2B  29034     95.14
2      2C    930     95.26
3      2D   2136     95.17
4      2E   5011     95.93
5      2F  13598     95.21
6      2Z   5390     94.08

Close Date Availability & Closure Rates:

            total_contacts  closed_contacts  still_open  close_rate_%
segment_c2
2A                   13938             2037       11901          14.6
2B                   30202             1410       28792           4.7
2C                    1008               89         919           8.8
2D                    2205               83        2122           3.8
2E                    6706             2024        4682          30.2
2F                   15240             1911       13329          12.5
2Z                    5553              163        5390           2.9

Close Date Availability by Segment:

            total_contacts  closed_contacts  still_open  close_rate_%
segment_c2
2E                    6706             2024        4682          30.2
2A                   13938             2037       11901          14.6
2F                   15240             1911       13329          12.5
2C                    1008               89         919           8.8
2B                   30202             1410       28792           4.7
2D                    2205               83        2122           3.8
2Z                    5553              163        5390           2.9

Days to Close Analysis (closed contacts only, n=7,694):

By Segment:

            closed  avg_days  median_days   min     max    std
segment_c2
2A            2037     228.9        156.0   3.0  1735.0  221.8
2B            1406     149.1         98.0   0.0   957.0  147.6
2C              89     166.6        106.0  13.0  1062.0  185.4
2D              83     128.6         84.0   0.0   670.0  130.7
2E            2021     248.6        172.0   1.0  2221.0  224.4
2F            1900     167.8        106.0   0.0  1317.0  170.3
2Z             158     107.6         75.5   0.0   536.0   94.8

By Geography Tier:

                    closed  avg_days  median_days  min     max
geo_tier
domestic_non_local    3443     196.3        130.0  0.0  1735.0
international          172     148.3         96.0  0.0  1062.0
local                 3921     209.4        138.0  0.0  2221.0
unknown                158     107.6         75.5  0.0   536.0

Time to Close Bucket Distribution:

By Segment (%):

ttc_bucket  181-365 days  31-90 days  91-180 days  >365 days  Open/Unknown  ‚â§30 days
segment_c2
2A                   3.7         3.8          3.7        2.7          85.4       0.7
2B                   0.8         1.7          1.3        0.4          95.3       0.5
2C                   1.8         3.2          2.2        0.8          91.2       0.9
2D                   0.7         1.2          0.9        0.2          96.2       0.8
2E                   7.4         7.5          7.1        7.3          69.9       0.8
2F                   2.4         4.4          3.1        1.5          87.5       1.2
2Z                   0.5         1.1          0.8        0.1          97.2       0.5

By Geography Tier (%):

ttc_bucket          181-365 days  31-90 days  91-180 days  >365 days  Open/Unknown  ‚â§30 days
geo_tier
domestic_non_local           1.7         2.3          2.0        1.1          92.2       0.5
international                1.0         1.8          1.3        0.4          94.6       0.8
local                        3.9         5.3          4.3        3.2          82.1       1.0
unknown                      0.5         1.1          0.8        0.1          97.2       0.5

================================================================================
COMPREHENSIVE TIME-TO-CLOSE BUCKET ANALYSIS
================================================================================

1. Overall Bucket Distribution:

              count  percentage
ttc_bucket
181-365 days   1677        2.24
31-90 days     2328        3.11
91-180 days    1935        2.59
>365 days      1236        1.65
Open/Unknown  67158       89.72
‚â§30 days        518        0.69

2. Bucket Distribution by Segment (2A-2F):

,segment,total_contacts,closed_contacts,open_contacts,close_rate_%,avg_days_to_close,median_days_to_close,fast_close_‚â§30d_%,medium_close_31-90d_%,slow_close_91-180d_%,very_slow_close_181-365d_%,extremely_slow_>365d_%,still_open_%
0,2A,13938,2037,11901,14.6,228.9,156.0,0.7,3.8,3.7,3.7,2.7,85.4
1,2B,30202,1410,28792,4.7,149.1,98.0,0.5,1.7,1.3,0.8,0.4,95.3
2,2C,1008,89,919,8.8,166.6,106.0,0.9,3.2,2.2,1.8,0.8,91.2
3,2D,2205,83,2122,3.8,128.6,84.0,0.8,1.2,0.9,0.7,0.2,96.2
4,2E,6706,2024,4682,30.2,248.6,172.0,0.8,7.5,7.1,7.4,7.3,69.9
5,2F,15240,1911,13329,12.5,167.8,106.0,1.2,4.4,3.1,2.4,1.5,87.5
6,2Z,5553,163,5390,2.9,107.6,75.5,0.5,1.1,0.8,0.5,0.1,97.2

3. Bucket Distribution by Geography Tier:

,geography,total_contacts,closed_contacts,open_contacts,close_rate_%,avg_days_to_close,median_days_to_close,fast_close_‚â§30d_%,medium_close_31-90d_%,slow_close_91-180d_%,very_slow_close_181-365d_%,extremely_slow_>365d_%,still_open_%
0,domestic_non_local,44140,3447,40693,7.8,196.3,130.0,0.5,2.3,2.0,1.7,1.1,92.2
1,international,3213,172,3041,5.4,148.3,96.0,0.8,1.8,1.3,1.0,0.4,94.6
2,local,21946,3935,18011,17.9,209.4,138.0,1.0,5.3,4.3,3.9,3.2,82.1
3,unknown,5553,163,5390,2.9,107.6,75.5,0.5,1.1,0.8,0.5,0.1,97.2

4. Cross-Analysis: Segment √ó Geography √ó Closure Speed:

Fast Closers (‚â§30 days) by Segment and Geography:

geo_tier    domestic_non_local  international  local  unknown  Total
segment_c2
2A                          94              0      0        0     94
2B                         144              0      0        0    144
2C                           0              9      0        0      9
2D                           0             17      0        0     17
2E                           0              0     53        0     53
2F                           0              0    176        0    176
2Z                           0              0      0       25     25
Total                      238             26    229       25    518

Slow Closers (>180 days) by Segment and Geography:

geo_tier    domestic_non_local  international  local  unknown  Total
segment_c2
2A                         893              0      0        0    893
2B                         371              0      0        0    371
2C                           0             26      0        0     26
2D                           0             20      0        0     20
2E                           0              0    985        0    985
2F                           0              0    589        0    589
2Z                           0              0      0       29     29
Total                     1264             46   1574       29   2913

5. Key Bucket Insights:
‚Ä¢ Fastest closing segment: 2F (1.2% close ‚â§30 days)
‚Ä¢ Highest close rate: 2E (30.2% closed)
‚Ä¢ Most contacts still open: 2Z (97.2% still open)
‚Ä¢ Fastest geography: local (1.0% close ‚â§30 days)

================================================================================

In [34]:
# Geo tier counts with percentages
geo_tier_counts = (
    X.groupby(["segment_c2","geo_tier"]).size()
     .to_frame("count")
     .reset_index()
 )
# Share within each segment
geo_tier_counts["segment_total"] = geo_tier_counts.groupby("segment_c2")["count"].transform("sum")
geo_tier_counts.drop(columns=["segment_total"], inplace=True)

# Overall share across the entire dataset
total_rows = float(len(X)) if len(X) else 1.0
geo_tier_counts["share_overall_%"] = (geo_tier_counts["count"] / total_rows * 100).round(2)

# Sort for readability
geo_tier_counts = geo_tier_counts.sort_values(["segment_c2","count"], ascending=[True,False])
print("Geo tier counts and percentages within each segment:")
display(geo_tier_counts)

# Top locations helper (safe for missing)
def top_k_counts(col, k=10):
    if col not in X.columns:
        return pd.DataFrame(columns=["segment", col, "count"])
    rows = []
    for seg, grp in X.groupby("segment_c2"):
        vc = grp[col].fillna("unknown").astype(str).str.strip().replace({"": "unknown"}).value_counts().head(k)
        df = vc.to_frame("count").reset_index().rename(columns={"index": col})
        df.insert(0, "segment", seg)
        rows.append(df)
    return pd.concat(rows, ignore_index=True) if rows else pd.DataFrame(columns=["segment", col, "count"])

top_countries = top_k_counts("country_any", 10)
top_states    = top_k_counts("state_any", 10)
top_cities    = top_k_counts("city_any", 10)

print("Top countries per segment:")
display(top_countries)

print("Top states per segment:")
display(top_states)

Geo tier counts and percentages within each segment:

  segment_c2            geo_tier  count  share_overall_%
0         2A  domestic_non_local  13938            18.62
1         2B  domestic_non_local  30202            40.35
2         2C       international   1008             1.35
3         2D       international   2205             2.95
4         2E               local   6706             8.96
5         2F               local  15240            20.36
6         2Z             unknown   5553             7.42

Top countries per segment:

   segment     country_any  count
0       2A          mexico  13550
1       2A   united states    273
2       2A          canada     32
3       2A          france      9
4       2A           italy      8
..     ...             ...    ...
56      2F         germany      3
57      2F      costa rica      3
58      2F  united kingdom      3
59      2F     netherlands      2
60      2Z         unknown   5553

[61 rows x 3 columns]

Top states per segment:

   segment          state_any  count
0       2A         guanajuato   3564
1       2A          michoacan   1498
2       2A   estado de mexico   1324
3       2A            sinaloa   1230
4       2A   ciudad de mexico    798
5       2A            hidalgo    750
6       2A    san luis potosi    552
7       2A             sonora    537
8       2A         tamaulipas    405
9       2A           veracruz    373
10      2B         guanajuato   6068
11      2B          michoacan   2912
12      2B            sinaloa   2786
13      2B   estado de mexico   2667
14      2B   ciudad de mexico   2408
15      2B            hidalgo   1493
16      2B             sonora   1395
17      2B    san luis potosi   1210
18      2B           veracruz   1016
19      2B            jalisco    739
20      2C     soy extranjero    885
21      2C         california     16
22      2C              texas     14
23      2C          tennessee      6
24      2C             panama      5
25      2C               lara      5
26      2C       san salvador      4
27      2C          guatemala      3
28      2C          pichincha      3
29      2C            florida      3
30      2D     soy extranjero   1828
31      2D         california     52
32      2D              texas     50
33      2D            unknown     30
34      2D             cortes     16
35      2D  francisco morazan     12
36      2D          guatemala     11
37      2D         washington      8
38      2D            arizona      8
39      2D            managua      8
40      2E          queretaro   6704
41      2E           querearo      1
42      2E          queretero      1
43      2F          queretaro  15239
44      2F        corregidora      1
45      2Z            unknown   5553

In [35]:
cols_preview = [c for c in [
    "contact_id",
    "Country","State_any","City_any",
    "num_sessions","num_pageviews","forms_submitted",
    "pageviews_per_session","forms_per_session","forms_per_click",
    "engagement_score","lifecycle_stage","likelihood_to_close", "segment_c2", "country_any", "state_any","city_any", "create_date", "close_date", "days_to_close", "periodo_ingreso", "periodo_admision", "segment_c2_action",
] if c in X.columns]

if len(cols_preview) == 0:
    print("No previewable columns found.")
else:
    samples = (
        X.sort_values(["segment_c2","engagement_score"], ascending=[True,False])
         .groupby("segment_c2", group_keys=False)
         .head(5)
    )
    display(samples[cols_preview].head(50))

,contact_id,num_sessions,num_pageviews,forms_submitted,pageviews_per_session,forms_per_session,engagement_score,lifecycle_stage,likelihood_to_close,segment_c2,country_any,state_any,city_any,create_date,close_date,days_to_close,periodo_ingreso,periodo_admision,segment_c2_action
94448,53426422553,382,1122,4,2.937173,0.010471,14.581232,salesqualifiedlead,1.000000,2A,mexico,nuevo leon,unknown,2024-09-19 23:07:49.137,NaT,NaN,2025 Fall,Unknown,Invite to in-person APREU activities (MX non-Q...
100380,75258005315,257,1797,1,6.992218,0.003891,13.740537,marketingqualifiedlead,0.962170,2A,mexico,nuevo leon,unknown,2024-11-25 22:01:30.650,NaT,NaN,2025 Fall,Unknown,Invite to in-person APREU activities (MX non-Q...
23277,17177201,64,171,13,2.671875,0.203125,11.960939,customer,NaN,2A,mexico,estado de mexico,unknown,2021-07-17 14:18:37.983,2021-08-09 14:31:07.570,23.0,2025 Spring,2023 Fall,Invite to in-person APREU activities (MX non-Q...
60376,64173953,170,773,0,4.547059,0.000000,11.793235,salesqualifiedlead,0.989808,2A,mexico,nuevo leon,unknown,2023-04-19 22:32:47.967,NaT,NaN,2024 Spring,Unknown,Invite to in-person APREU activities (MX non-Q...
87417,26896644746,58,310,4,5.344828,0.068966,11.426768,evangelist,NaN,2A,mexico,veracruz,tuxpan,2024-06-03 22:03:54.206,2024-12-23 00:00:00.000,202.0,2025 Fall,2025 Fall,Invite to in-person APREU activities (MX non-Q...
9345,6820651,1,3,2,3.000000,2.000000,3.178054,salesqualifiedlead,0.995187,2B,mexico,estado de mexico,unknown,2020-09-04 19:30:19.936,NaT,NaN,2021 Spring,Unknown,WhatsApp/email pushes to increase site activit...
10866,7344301,3,1,2,0.333333,0.666667,3.178054,lead,0.994713,2B,mexico,guanajuato,unknown,2020-09-24 19:16:50.392,NaT,NaN,2021 Fall,Unknown,WhatsApp/email pushes to increase site activit...
19600,11888201,3,5,0,1.666667,0.000000,3.178054,lead,0.994461,2B,mexico,michoacan,unknown,2021-04-02 05:39:14.562,NaT,NaN,2022 Fall,Unknown,WhatsApp/email pushes to increase site activit...
21992,14919801,3,1,2,0.333333,0.666667,3.178054,marketingqualifiedlead,0.994401,2B,mexico,san luis potosi,unknown,2021-06-17 02:50:25.770,NaT,NaN,2023 Fall,Unknown,WhatsApp/email pushes to increase site activit...
23904,18267901,1,3,2,3.000000,2.000000,3.178054,lead,0.994184,2B,mexico,tabasco,unknown,2021-07-31 05:04:52.946,NaT,NaN,2021 Fall,Unknown,WhatsApp/email pushes to increase site activit...
55538,57772501,56,155,6,2.767857,0.107143,11.038817,customer,NaN,2C,united states,texas,waller,2023-01-18 16:45:46.077,2024-05-14 00:00:00.000,481.0,2024 Fall,2024 Fall,Webinars + virtual Q&A (International).
107782,101936993670,29,130,6,4.482759,0.206897,10.222305,evangelist,1.000000,2C,panama,panama,panama,2025-02-25 01:03:19.669,2025-07-23 00:00:00.000,147.0,2025 Fall,2025 Fall,Webinars + virtual Q&A (International).
79343,91872201,38,87,5,2.289474,0.131579,9.932658,evangelist,NaN,2C,colombia,bogota,teusaquillo,2024-02-03 06:05:38.958,2024-03-28 00:00:00.000,53.0,2024 Fall,2024 Fall,Webinars + virtual Q&A (International).
109565,106986923177,51,101,2,1.980392,0.039216,9.674829,marketingqualifiedlead,1.000000,2C,mexico,soy extranjero,unknown,2025-04-15 19:19:36.996,NaT,NaN,2026 Fall,Unknown,Webinars + virtual Q&A (International).
27610,21533051,37,76,4,2.054054,0.108108,9.590829,marketingqualifiedlead,0.992762,2C,mexico,soy extranjero,unknown,2021-10-13 17:56:05.650,NaT,NaN,2024 Fall,Unknown,Webinars + virtual Q&A (International).
40922,38970051,1,3,2,3.000000,2.000000,3.178054,lead,0.560000,2D,cuba,soy extranjero,unknown,2022-06-15 03:00:55.807,NaT,NaN,2023 Spring,Unknown,Awareness + local-language content (Internatio...
42289,41665001,1,3,2,3.000000,2.000000,3.178054,lead,0.994184,2D,cuba,soy extranjero,unknown,2022-07-16 20:14:52.482,NaT,NaN,2022 Fall,Unknown,Awareness + local-language content (Internatio...
47924,47529701,3,1,2,0.333333,0.666667,3.178054,evangelist,NaN,2D,mexico,soy extranjero,unknown,2022-10-10 22:54:51.564,2023-08-15 00:00:00.000,308.0,2023 Fall,2023 Fall,Awareness + local-language content (Internatio...
85506,16952815665,1,3,2,3.000000,2.000000,3.178054,lead,0.994608,2D,colombia,soy extranjero,unknown,2024-04-29 20:39:35.925,NaT,NaN,2024 Fall,Unknown,Awareness + local-language content (Internatio...
86503,22385664667,1,3,2,3.000000,2.000000,3.178054,lead,0.994399,2D,el salvador,soy extranjero,unknown,2024-05-18 03:51:51.613,NaT,NaN,2024 Fall,Unknown,Awareness + local-language content (Internatio...
40080,37372851,93,261,5,2.806452,0.053763,11.903399,salesqualifiedlead,0.993290,2E,mexico,queretaro,unknown,2022-05-27 21:49:05.944,NaT,NaN,2027 Spring,Unknown,Local QRO: in-person APREU invites + campus to...
50524,50175851,50,228,6,4.560000,0.120000,11.311458,evangelist,NaN,2E,mexico,queretaro,unknown,2023-01-31 21:53:14.169,2023-10-26 00:00:00.000,267.0,2024 Spring,2024 Spring,Local QRO: in-person APREU invites + campus to...
103747,86903684760,48,448,2,9.333333,0.041667,11.097455,marketingqualifiedlead,1.000000,2E,mexico,queretaro,unknown,2024-12-23 17:54:57.285,NaT,NaN,2025 Fall,Unknown,Local QRO: in-person APREU invites + campus to...
50167,49903875,53,301,3,5.679245,0.056604,11.085705,evangelist,NaN,2E,mexico,queretaro,unknown,2022-10-14 13:57:36.603,2023-03-29 00:00:00.000,165.0,2024 Spring,2023 Fall,Local QRO: in-person APREU invites + campus to...
75174,85358051,48,204,5,4.250000,0.104167,11.006590,opportunity,0.987959,2E,mexico,queretaro,queretaro,2023-10-24 16:48:10.512,NaT,NaN,2024 Fall,2024 Fall,Local QRO: in-person APREU invites + campus to...
59812,63489202,3,1,3,0.333333,1.000000,3.465736,opportunity,0.990638,2F,mexico,queretaro,queretaro,2023-04-12 15:34:40.409,NaT,NaN,2024 Fall,2024 Fall,"Local QRO nurture: WhatsApp reminders, quick w..."
61410,65065551,3,1,3,0.333333,1.000000,3.465736,salesqualifiedlead,0.994184,2F,mexico,queretaro,unknown,2023-05-01 23:28:07.000,NaT,NaN,2025 Fall,Unknown,"Local QRO nurture: WhatsApp reminders, quick w..."
65272,73009401,1,3,3,3.000000,3.000000,3.465736,evangelist,NaN,2F,mexico,queretaro,unknown,2023-07-25 00:09:14.251,2023-12-08 00:00:00.000,135.0,2024 Fall,2024 Fall,"Local QRO nurture: WhatsApp reminders, quick w..."
121028,144746898442,1,3,3,3.000000,3.000000,3.465736,marketingqualifiedlead,1.000000,2F,mexico,queretaro,unknown,2025-08-07 04:21:48.343,NaT,NaN,2026 Spring,Unknown,"Local QRO nurture: WhatsApp reminders, quick w..."
123638,153387350290,2,9,0,4.500000,0.000000,3.401197,opportunity,1.000000,2F,mexico,queretaro,queretaro,2025-09-06 15:43:56.925,NaT,NaN,Unknown,2026 Fall,"Local QRO nurture: WhatsApp reminders, quick w..."
69471,77593458,2,2,1,1.000000,0.500000,2.890372,lead,0.540000,2Z,unknown,unknown,unknown,2023-09-21 16:20:29.187,NaT,NaN,2025 Fall,Unknown,Investigate missing/uncertain geography.
71405,79153701,2,2,1,1.000000,0.500000,2.890372,salesqualifiedlead,0.994932,2Z,unknown,unknown,unknown,2023-10-03 17:14:16.817,NaT,NaN,2025 Fall,2025 Fall,Investigate missing/uncertain geography.
74517,83985651,2,2,1,1.000000,0.500000,2.890372,lead,0.994266,2Z,unknown,unknown,unknown,2023-11-10 22:07:38.490,NaT,NaN,Unknown,Unknown,Investigate missing/uncertain geography.
73262,82002802,3,0,3,0.000000,1.000000,2.772589,lead,0.994152,2Z,unknown,unknown,unknown,2023-10-24 16:35:20.000,NaT,NaN,Unknown,Unknown,Investigate missing/uncertain geography.
67893,76173801,1,1,1,1.000000,1.000000,2.079442,lead,0.994152,2Z,unknown,unknown,unknown,2023-09-06 23:47:33.125,NaT,NaN,Unknown,Unknown,Investigate missing/uncertain geography.

In [36]:
from pathlib import Path
from datetime import datetime
try:
    from zoneinfo import ZoneInfo  #
    tz = ZoneInfo("America/Mexico_City")
except Exception:
    tz = None  # fallback

run_ts = datetime.now(tz).strftime("%Y-%m-%d_%H-%M-%S") if tz else datetime.now().strftime("%Y-%m-%d_%H-%M-%S")

# ===== COMPREHENSIVE EXPORT & ANALYSIS =====
print("CLUSTER 2 COMPREHENSIVE EXPORT")
print("=" * 60)

# === CSV EXPORT: COMPLETE PROFILE DATA ===
print(f"\nPREPARING CSV EXPORT...")

# Row-level CSV - COMPLETE PROFILE DATA (matching show_contact_by_id structure)
row_cols = [c for c in [
    
    # === CORE IDENTIFICATION ===
    "contact_id",
    
    # === MEMBERSHIP ===
    "segment_c2",           # 2A, 2B, 2C, 2D, 2E, 2F
    "geo_tier",             # local, domestic_non_local, international  
    "segment_c2_action",    # Action plan for segment
    
    # === ENGAGEMENT ===
    "num_sessions",
    "num_pageviews", 
    "forms_submitted",
    "pageviews_per_session",
    "forms_per_session",
    "forms_per_pageview",
    "engagement_score",
    "is_high_engager",
    "log_sessions",
    "log_pageviews", 
    "log_forms",
    
    # === OUTCOMES / FUNNEL ===
    "likelihood_to_close",
    "create_date",
    "close_date",
    "days_to_close",
    "ttc_bucket",
    
    # === LIFECYCLE STAGE ===
    "lifecycle_stage",
    
    # === GEOGRAPHY SIGNALS ===
    "country_any", "state_any", "city_any",
    "ip_country", "ip_state_region",
    "prep_country_bpm", "prep_state_bpm", "prep_city_bpm", "prep_school_bpm",
    
    # === ACADEMIC INFO ===
    "periodo_ingreso",
    "periodo_admision",
    
    # === ATTRIBUTION SOURCES ===
    "original_source", "original_source_d1", "original_source_d2",
    "canal_de_adquisicion", "latest_source", "last_referrer",
    
] if c in X.columns]

# Prepare enhanced dataset with calculated fields
X_export = X[row_cols].copy()

# Add calculated display fields
if "likelihood_to_close" in X_export.columns:
    X_export["likelihood_to_close_pct"] = (X["likelihood_to_close"] * 100).round(1)
if "create_date" in X_export.columns:
    X_export["create_date"] = X["create_date"].dt.strftime("%Y-%m-%d").fillna("unknown")
if "close_date" in X_export.columns:
    X_export["close_date"] = X["close_date"].dt.strftime("%Y-%m-%d").fillna("unknown")
if "days_to_close" in X_export.columns:
    X_export["days_to_close"] = X["days_to_close"].fillna("unknown")
if "periodo_ingreso" in X_export.columns:
    X_export["periodo_ingreso"] = X["periodo_ingreso"]
if "periodo_admision" in X_export.columns:
    X_export["periodo_admision"] = X["periodo_admision"] 


# Export CSV
row_csv_path = "cluster2_rows.csv"
X_export.to_csv(row_csv_path, index=False)

# === VALIDATION & SUMMARY ===
base_cols_available = len([c for c in row_cols if c in X.columns])
total_export_cols = len(X_export.columns)

print(f"   {base_cols_available}/{len(row_cols)} base profile columns found")
print(f"   {total_export_cols} total columns exported")
print(f"   Profile categories included:")

# Organize by categories (matching show_contact_by_id)
profile_categories = {
    "Core Identification": ["contact_id"],
    "Membership": ["segment_c2", "geo_tier", "segment_c2_action"],
    "Engagement": [col for col in X_export.columns if any(eng in col for eng in ["sessions", "pageviews", "forms", "engagement", "log_", "is_high_engager"])],
    "Outcomes/Funnel": [col for col in X_export.columns if any(out in col for out in ["likelihood", "create", "close", "days", "ttc"])],
    "Lifecycle": [col for col in X_export.columns if "lifecycle" in col],
    "Geography": [col for col in X_export.columns if any(geo in col for geo in ["country", "state", "city", "ip_", "prep_"])],
    "Academic": [col for col in X_export.columns if any(acad in col for acad in ["periodo", "apreu"])],
    "Attribution": [col for col in X_export.columns if any(attr in col for attr in ["source", "canal", "referrer"])]
}

for category, cols in profile_categories.items():
    available_cols = [col for col in cols if col in X_export.columns]
    if available_cols:
        print(f"      {category}: {len(available_cols)} columns")

# === XLSX EXPORT: BUSINESS INTELLIGENCE ===
print(f"\nPREPARING XLSX EXPORT...")

# Ensure optional frames exist
if "latest_source_pct" not in locals(): latest_source_pct = pd.DataFrame()
if "lifecycle_pct" not in locals(): lifecycle_pct = pd.DataFrame()
if "lifecycle_top" not in locals(): lifecycle_top = pd.DataFrame()
if "geo_tier_counts" not in locals(): geo_tier_counts = pd.DataFrame()
if "top_countries" not in locals(): top_countries = pd.DataFrame()
if "top_states" not in locals(): top_states = pd.DataFrame()
if "top_cities" not in locals(): top_cities = pd.DataFrame()

# ===== ENHANCED CLOSURE ANALYTICS (like Cluster1) =====
closure_by_segment = pd.DataFrame()
closure_by_geo = pd.DataFrame() 
ttc_bucket_by_segment = pd.DataFrame()
ttc_bucket_by_geo = pd.DataFrame()

# Close date availability and closure rates by segment
if "close_date" in X.columns:
    # Basic closure stats by segment
    closure_by_segment = pd.DataFrame({
        "total_contacts": X.groupby("segment_c2").size(),
        "closed_contacts": X.groupby("segment_c2")["close_date"].count(),
        "still_open": X.groupby("segment_c2").size() - X.groupby("segment_c2")["close_date"].count()
    })
    closure_by_segment["close_rate_%"] = (closure_by_segment["closed_contacts"] / closure_by_segment["total_contacts"] * 100).round(1)
    
    # Basic closure stats by geography tier
    if "geo_tier" in X.columns:
        closure_by_geo = pd.DataFrame({
            "total_contacts": X.groupby("geo_tier").size(),
            "closed_contacts": X.groupby("geo_tier")["close_date"].count(),
            "still_open": X.groupby("geo_tier").size() - X.groupby("geo_tier")["close_date"].count()
        })
        closure_by_geo["close_rate_%"] = (closure_by_geo["closed_contacts"] / closure_by_geo["total_contacts"] * 100).round(1)

# Days to close statistics (for closed contacts only)
if "days_to_close" in X.columns:
    closed_contacts = X.dropna(subset=["days_to_close"])
    if not closed_contacts.empty:
        # Add days to close stats to closure dataframes
        dtc_stats_segment = closed_contacts.groupby("segment_c2")["days_to_close"].agg([
            "mean", "median", "min", "max", "std"
        ]).round(1)
        dtc_stats_segment.columns = ["avg_days_to_close", "median_days_to_close", "min_days", "max_days", "std_days"]
        if not closure_by_segment.empty:
            closure_by_segment = closure_by_segment.join(dtc_stats_segment, how="left")
        
        if "geo_tier" in X.columns:
            dtc_stats_geo = closed_contacts.groupby("geo_tier")["days_to_close"].agg([
                "mean", "median", "min", "max", "std"
            ]).round(1)
            dtc_stats_geo.columns = ["avg_days_to_close", "median_days_to_close", "min_days", "max_days", "std_days"]
            if not closure_by_geo.empty:
                closure_by_geo = closure_by_geo.join(dtc_stats_geo, how="left")

# Time to close bucket distribution
if "ttc_bucket" in X.columns:
    ttc_bucket_by_segment = (
        X.groupby("segment_c2")["ttc_bucket"]
         .value_counts(normalize=True)
         .mul(100).round(1)
         .to_frame("pct")
    )
    
    if "geo_tier" in X.columns:
        ttc_bucket_by_geo = (
            X.groupby("geo_tier")["ttc_bucket"]
             .value_counts(normalize=True)
             .mul(100).round(1)
             .to_frame("pct")
        )

xlsx_path = "cluster2_summary.xlsx"
with pd.ExcelWriter(xlsx_path) as w:
    
    # === EXECUTIVE SUMMARY ===
    exec_summary = pd.DataFrame({
        "Metric": [
            "Total Contacts", "Segments Created", "High Engagement Rate", 
            "International %", "Domestic %", "Local %",
            "Avg Engagement Score", "Contacts with Forms", "Closed Contacts"
        ],
        "Value": [
            f"{len(X):,}",
            len(X["segment_c2"].unique()),
            f"{(X['is_high_engager'].mean()*100):.1f}%",
            f"{(X['geo_tier']=='international').mean()*100:.1f}%",
            f"{(X['geo_tier']=='domestic_non_local').mean()*100:.1f}%", 
            f"{(X['geo_tier']=='local').mean()*100:.1f}%",
            f"{X['engagement_score'].mean():.2f}",
            f"{(X['forms_submitted']>0).sum():,}",
            f"{X['close_date'].count():,}"
        ]
    })
    exec_summary.to_excel(w, sheet_name="1_executive_summary", index=False)
    
    # === SEGMENT PERFORMANCE ===
    segment_performance = pd.DataFrame()
    for seg in sorted(X["segment_c2"].unique()):
        seg_data = X[X["segment_c2"] == seg]
        perf_row = pd.DataFrame({
            "segment": [seg],
            "count": [len(seg_data)],
            "share_pct": [len(seg_data)/len(X)*100],
            "avg_sessions": [seg_data["num_sessions"].mean()],
            "avg_pageviews": [seg_data["num_pageviews"].mean()],
            "avg_forms": [seg_data["forms_submitted"].mean()],
            "form_conversion_rate": [(seg_data["forms_submitted"]>0).mean()*100],
            "avg_engagement_score": [seg_data["engagement_score"].mean()],
            "close_rate_pct": [seg_data["close_date"].count()/len(seg_data)*100],
            "avg_days_to_close": [seg_data["days_to_close"].mean()],
            "action_plan": [seg_data["segment_c2_action"].iloc[0]]
        })
        segment_performance = pd.concat([segment_performance, perf_row], ignore_index=True)
    
    segment_performance = segment_performance.round(2)
    segment_performance.to_excel(w, sheet_name="2_segment_performance", index=False)
    
    # === ANALYSIS SHEETS ===
    counts_c2.to_excel(w, sheet_name="3_segment_counts", index=True)
    numeric_means.to_excel(w, sheet_name="4_engagement_means", index=True)
    if not numeric_medians.empty:
        numeric_medians.to_excel(w, sheet_name="5_engagement_medians", index=True)
    
    # Geography analysis
    if not geo_tier_counts.empty:
        geo_tier_counts.to_excel(w, sheet_name="6_geo_analysis", index=False)
    if not top_countries.empty:
        top_countries.to_excel(w, sheet_name="7_top_countries", index=False)
    if not top_states.empty:
        top_states.to_excel(w, sheet_name="8_top_states", index=False)
    if not top_cities.empty:
        top_cities.to_excel(w, sheet_name="9_top_cities", index=False)
    
    # Lifecycle & attribution
    if not lifecycle_pct.empty:
        lifecycle_pct.to_excel(w, sheet_name="10_lifecycle_analysis", index=False)
    if not lifecycle_top.empty:
        lifecycle_top.to_excel(w, sheet_name="11_lifecycle_top_by_segment", index=False)
    if not latest_source_pct.empty:
        latest_source_pct.to_excel(w, sheet_name="12_traffic_sources", index=False)
    
    # Business outcomes
    if not l2c_summary.empty:
        l2c_summary.to_excel(w, sheet_name="13_likelihood_to_close", index=False)
    if "closure_summary" in locals() and not closure_summary.empty:
        # Reset index to make segment a regular column
        closure_summary_export = closure_summary.reset_index().rename(columns={"segment_c2": "segment"})
        closure_summary_export.to_excel(w, sheet_name="14_closure_rates", index=False)
    if "ttc_seg_pct" in locals() and not ttc_seg_pct.empty:
        # Reset index to make segment a regular column
        ttc_seg_pct_export = ttc_seg_pct.reset_index().rename(columns={"segment_c2": "segment"})
        ttc_seg_pct_export.to_excel(w, sheet_name="15_time_to_close_buckets", index=False)
    
    # Enhanced closure analytics (NEW - like Cluster1)
    if not closure_by_segment.empty:
        closure_by_segment.to_excel(w, sheet_name="16_closure_stats_by_segment", index=True)
    if not closure_by_geo.empty:
        closure_by_geo.to_excel(w, sheet_name="17_closure_stats_by_geo", index=True)
    if not ttc_bucket_by_segment.empty:
        ttc_bucket_by_segment.to_excel(w, sheet_name="18_ttc_buckets_by_segment", index=True)
    if not ttc_bucket_by_geo.empty:
        ttc_bucket_by_geo.to_excel(w, sheet_name="19_ttc_buckets_by_geo", index=True)
    
    # Comprehensive bucket statistics (detailed tables from notebook output)
    if "segment_bucket_df" in locals() and not segment_bucket_df.empty:
        segment_bucket_df.to_excel(w, sheet_name="20_comprehensive_bucket_by_segment", index=False)
    if "geo_bucket_df" in locals() and not geo_bucket_df.empty:
        geo_bucket_df.to_excel(w, sheet_name="21_comprehensive_bucket_by_geo", index=False)
    if "bucket_summary" in locals() and not bucket_summary.empty:
        bucket_summary.to_excel(w, sheet_name="22_overall_bucket_summary", index=True)
    
    # Cross-analysis tables for fast and slow closers
    if "ttc_bucket" in X.columns and "geo_tier" in X.columns:
        # Fast closers cross-tab
        fast_closers = X[X["ttc_bucket"] == "‚â§30 days"]
        if not fast_closers.empty:
            fast_cross = pd.crosstab(
                fast_closers["segment_c2"], 
                fast_closers["geo_tier"], 
                margins=True, 
                margins_name="Total"
            )
            fast_cross.to_excel(w, sheet_name="23_fast_closers_segment_x_geo", index=True)
        
        # Slow closers cross-tab
        slow_closers = X[X["ttc_bucket"].isin(["181-365 days", ">365 days"])]
        if not slow_closers.empty:
            slow_cross = pd.crosstab(
                slow_closers["segment_c2"], 
                slow_closers["geo_tier"], 
                margins=True, 
                margins_name="Total"
            )
            slow_cross.to_excel(w, sheet_name="24_slow_closers_segment_x_geo", index=True)
    
    # Engagement distribution
    engagement_dist = pd.DataFrame()
    for seg in sorted(X["segment_c2"].unique()):
        seg_data = X[X["segment_c2"] == seg]
        for metric in ["num_sessions", "num_pageviews", "forms_submitted"]:
            if metric in X.columns:
                dist_row = pd.DataFrame({
                    "segment": [seg],
                    "metric": [metric],
                    "count": [len(seg_data)],
                    "min": [seg_data[metric].min()],
                    "q25": [seg_data[metric].quantile(0.25)],
                    "median": [seg_data[metric].median()],
                    "q75": [seg_data[metric].quantile(0.75)],
                    "max": [seg_data[metric].max()],
                    "mean": [seg_data[metric].mean()],
                    "std": [seg_data[metric].std()]
                })
                engagement_dist = pd.concat([engagement_dist, dist_row], ignore_index=True)
    
    if not engagement_dist.empty:
        engagement_dist = engagement_dist.round(2)
        engagement_dist.to_excel(w, sheet_name="25_engagement_distribution", index=False)
    
    # === METADATA ===
    enhanced_meta = pd.DataFrame({
        "Field": [
            "Run Timestamp", "Timezone", "Total Rows", "Source File",
            "Engagement Method", "High Engagement Threshold", "Geography Tiers",
            "Segments Created", "CSV Columns", "XLSX Sheets"
        ],
        "Value": [
            run_ts,
            str(tz) if tz else "local_system_time",
            len(X),
            str(Path(FILE_PATH).resolve()),
            "70th percentile within geo tier",
            f"{HIGH_ENG_Q*100:.0f}th percentile",
            "local, domestic_non_local, international",
            "2A, 2B, 2C, 2D, 2E, 2F",
            len(X_export.columns),
            "15+ comprehensive analysis sheets"
        ]
    })
    enhanced_meta.to_excel(w, sheet_name="26_metadata", index=False)
    
    # === COLUMN DOCUMENTATION ===
    all_export_cols = list(X_export.columns)
    col_docs = pd.DataFrame({
        "Column": all_export_cols,
        "Category": [
            "Core Identification" if "contact_id" in col else
            "Membership" if col in ["segment_c2", "segment_c2_action", "geo_tier"] else
            "Engagement" if any(eng in col for eng in ["sessions", "pageviews", "forms", "engagement", "log_", "is_high_engager"]) else
            "Outcomes/Funnel" if any(out in col for out in ["likelihood", "create", "close", "days", "ttc"]) else
            "Lifecycle" if "lifecycle" in col else
            "Geography" if any(geo in col for geo in ["country", "state", "city", "ip_", "prep_"]) else
            "Academic" if any(acad in col for acad in ["periodo", "apreu"]) else
            "Attribution" if any(attr in col for attr in ["source", "canal", "referrer"]) else
            "Other"
            for col in all_export_cols
        ],
        "Description": [
            "Unique contact identifier" if "contact_id" in col else
            "Final segment assignment (2A-2F)" if col == "segment_c2" else
            "Action plan for this segment" if col == "segment_c2_action" else  
            "Geography tier (local/domestic/international)" if col == "geo_tier" else
            "High/low engagement flag" if col == "is_high_engager" else
            "Number of website sessions" if col == "num_sessions" else
            "Number of pages viewed" if col == "num_pageviews" else
            "Number of forms submitted" if col == "forms_submitted" else
            "Calculated engagement score" if col == "engagement_score" else
            "Likelihood to close (0-1 scale)" if col == "likelihood_to_close" else
            "Likelihood to close (%)" if col == "likelihood_to_close_pct" else
            "Contact creation date" if col == "create_date" else
            "Contact closure date" if col == "close_date" else
            "Days from create to close" if col == "days_to_close" else
            "Time-to-close category" if col == "ttc_bucket" else
            "HubSpot lifecycle stage" if col == "lifecycle_stage" else
            "Best available country" if col == "country_any" else
            "Best available state/region" if col == "state_any" else
            "Best available city" if col == "city_any" else
            "Original traffic source" if col == "original_source" else
            "Latest traffic source" if col == "latest_source" else
            "Academic entry period (readable)" if col == "periodo_ingreso" else
            "Academic admission period (readable)" if col == "periodo_admision" else
            col.replace("_", " ").title()  # Generic description
            for col in all_export_cols
        ],
        "Available": ["Available" if col in X.columns or col in X_export.columns else "Missing" for col in all_export_cols]
    })
    col_docs.to_excel(w, sheet_name="27_column_documentation", index=False)

# === FINAL SUMMARY ===
print(f"\nEXPORT COMPLETE!")
print(f"   CSV: {row_csv_path} ({len(X):,} rows x {len(X_export.columns)} columns)")
print(f"   XLSX: {xlsx_path} (15+ analysis sheets)")
print(f"   Generated: {run_ts}")

print(f"\nKEY METRICS:")
print(f"   Total Contacts: {len(X):,}")
print(f"   Segments: {', '.join(sorted(X['segment_c2'].unique()))}")
print(f"   High Engagement: {(X['is_high_engager'].mean()*100):.1f}%")
print(f"   Geography Split: {(X['geo_tier']=='local').mean()*100:.0f}% Local, {(X['geo_tier']=='domestic_non_local').mean()*100:.0f}% Domestic, {(X['geo_tier']=='international').mean()*100:.0f}% International")

print(f"\nCSV STRUCTURE (matching show_contact_by_id):")
for category, cols in profile_categories.items():
    available_cols = [col for col in cols if col in X_export.columns]
    if available_cols:
        print(f"   {category}: {len(available_cols)} fields")

print(f"\nReady for analysis! Use show_contact_by_id('contact_id') to explore individual profiles.")

CLUSTER 2 COMPREHENSIVE EXPORT
============================================================

PREPARING CSV EXPORT...
   38/38 base profile columns found
   39 total columns exported
   Profile categories included:
      Core Identification: 1 columns
      Membership: 3 columns
      Engagement: 11 columns
      Outcomes/Funnel: 6 columns
      Lifecycle: 1 columns
      Geography: 9 columns
      Academic: 2 columns
      Attribution: 6 columns

PREPARING XLSX EXPORT...

EXPORT COMPLETE!
   CSV: cluster2_rows.csv (74,852 rows x 39 columns)
   XLSX: cluster2_summary.xlsx (15+ analysis sheets)
   Generated: 2025-10-16_14-28-43

KEY METRICS:
   Total Contacts: 74,852
   Segments: 2A, 2B, 2C, 2D, 2E, 2F, 2Z
   High Engagement: 36.3%
   Geography Split: 29% Local, 59% Domestic, 4% International

CSV STRUCTURE (matching show_contact_by_id):
   Core Identification: 1 fields
   Membership: 3 fields
   Engagement: 11 fields
   Outcomes/Funnel: 6 fields
   Lifecycle: 1 fields
   Geography: 9 fields
   Academic: 2 fields
   Attribution: 6 fields

Ready for analysis! Use show_contact_by_id('contact_id') to explore individual profiles.

/Users/diegosalinas/Library/Python/3.9/lib/python/site-packages/openpyxl/workbook/child.py:99: UserWarning: Title is more than 31 characters. Some applications may not be able to read the file
  warnings.warn("Title is more than 31 characters. Some applications may not be able to read the file")

In [37]:
def _safe_pct_rank(series, value):
    """Helper function to calculate percentile rank safely"""
    s = pd.to_numeric(series, errors="coerce").dropna()
    if pd.isna(value) or s.empty:
        return np.nan
    return round((s < value).mean() * 100, 1)

def show_contact_by_id(contact_id):
    """
    Cluster-style strict lookup by exact contact_id. No fuzzy matching.
    Prints membership (2A-2F + geo tier + academic periods), key engagement metrics,
    outcomes, lifecycle, geography signals, and percentile context
    within the contact's segment.
    """
    if "contact_id" not in X.columns:
        raise KeyError("X has no 'contact_id' column.")

    # Exact match (robust to dtype differences)
    key = str(contact_id).strip()
    idx = X["contact_id"].astype(str) == key
    if not idx.any():
        print(f"No contact found with contact_id = {contact_id}")
        return

    row = X.loc[idx].iloc[0]

    # ----- Core membership (includes new academic period tagging)
    membership = {
        "segment_c2": row.get("segment_c2", np.nan),
        "geo_tier": row.get("geo_tier", np.nan),
        "segment_c2_action": row.get("segment_c2_action", np.nan),
        "periodo_ingreso": row.get("periodo_ingreso", row.get("periodo_de_ingreso", np.nan)),
        "periodo_admision": row.get("periodo_admision", row.get("periodo_admision_bpm", np.nan)),
    }

    # ----- Engagement metrics
    engagement = {
        "num_sessions": row.get("num_sessions", np.nan),
        "num_pageviews": row.get("num_pageviews", np.nan),
        "forms_submitted": row.get("forms_submitted", np.nan),
        "pageviews_per_session": row.get("pageviews_per_session", np.nan),
        "forms_per_session": row.get("forms_per_session", np.nan),
        "forms_per_pageview": row.get("forms_per_pageview", np.nan),
        "engagement_score": row.get("engagement_score", np.nan),
        "is_high_engager": row.get("is_high_engager", np.nan),
    }

    # ----- Outcomes / funnel
    ltc_norm = row.get("likelihood_to_close_norm", np.nan)
    create_dt = row.get("create_date", np.nan)
    close_dt = row.get("close_date", np.nan)
    days_close = row.get("days_to_close", np.nan)
    ttc_bucket = row.get("ttc_bucket", np.nan)
    
    outcomes = {
        "likelihood_to_close_%": (round(float(ltc_norm) * 100, 1) if pd.notna(ltc_norm) else np.nan),
        "create_date": create_dt.strftime("%Y-%m-%d") if pd.notna(create_dt) else "Unknown",
        "close_date": close_dt.strftime("%Y-%m-%d") if pd.notna(close_dt) else "Still Open",
        "days_to_close": int(days_close) if pd.notna(days_close) else "N/A (not closed)",
        "time_to_close_bucket": ttc_bucket if pd.notna(ttc_bucket) else "Unknown",
    }

    # ----- Lifecycle stage
    lifecycle_value = row.get("lifecycle_stage", np.nan)

    # ----- Geography signals
    geography_signals = {
        "country_any": row.get("country_any", np.nan),
        "state_any": row.get("state_any", np.nan),
        "city_any": row.get("city_any", np.nan),
        "ip_country": row.get("ip_country", np.nan),
        "ip_state_region": row.get("ip_state_region", np.nan),
        "prep_country_bpm": row.get("prep_country_bpm", np.nan),
        "prep_state_bpm": row.get("prep_state_bpm", np.nan),
        "prep_city_bpm": row.get("prep_city_bpm", np.nan),
    }

    # ----- Academic periods
    academic_info = {
        "periodo_ingreso": row.get("periodo_ingreso", np.nan),
        "periodo_admision": row.get("periodo_admision", np.nan),
    }

    # ----- Attribution / Traffic Sources
    attribution_signals = {
        "original_source": row.get("original_source", np.nan),
        "original_source_d1": row.get("original_source_d1", np.nan),
        "original_source_d2": row.get("original_source_d2", np.nan),
        "canal_de_adquisicion": row.get("canal_de_adquisicion", np.nan),
        "latest_source": row.get("latest_source", np.nan),
        "last_referrer": row.get("last_referrer", np.nan),
    }

    # ----- Context within same segment (percentile ranks)
    ctx = {}
    segment = membership.get("segment_c2")
    if segment and (X["segment_c2"] == segment).any():
        group = X[X["segment_c2"] == segment]
        ctx = {
            "segment_rows": len(group),
            "pct_rank_sessions_in_segment":  _safe_pct_rank(group["num_sessions"], row.get("num_sessions", np.nan)),
            "pct_rank_pageviews_in_segment": _safe_pct_rank(group["num_pageviews"], row.get("num_pageviews", np.nan)),
            "pct_rank_forms_in_segment":     _safe_pct_rank(group["forms_submitted"], row.get("forms_submitted", np.nan)),
            "pct_rank_ltc_in_segment":       _safe_pct_rank(group.get("likelihood_to_close_norm", pd.Series(dtype=float)),
                                                            row.get("likelihood_to_close_norm", np.nan)) \
                                              if "likelihood_to_close_norm" in group.columns else np.nan,
        }

    # ----- Pretty display
    def _kv(d, title):
        return pd.DataFrame(list(d.items()), columns=[title, "value"])

    header_cols = [c for c in ["contact_id","email","firstname","lastname","fullname"] if c in X.columns]
    display(X.loc[idx, header_cols].head(1)) if header_cols else None

    display(_kv(membership, "membership"))
    display(_kv(engagement, "engagement"))
    display(_kv(outcomes, "outcomes"))
    if pd.notna(lifecycle_value):
        display(pd.DataFrame({"lifecycle_stage":[lifecycle_value]}))
    display(_kv(geography_signals, "geography_signals"))
    display(_kv(academic_info, "academic_info"))
    display(_kv(attribution_signals, "attribution_sources"))
    if ctx:
        display(_kv(ctx, "segment_context (percentile ranks)"))

    # ----- Quick recommendation
    reco = []
    seg = membership["segment_c2"]
    if seg in ["2A", "2C", "2E"]:  # High engagement segments
        reco.append(f"**{seg} (high engagement)** ‚Äî prioritize fast follow-up.")
    elif seg in ["2B", "2D", "2F"]:  # Low engagement segments
        reco.append(f"**{seg} (low engagement)** ‚Äî nurture to increase site interaction.")
    
    geo = membership.get("geo_tier")
    if geo == "local":
        reco.append("Geography: **Local (QRO)** ‚Äî leverage local presence and in-person events.")
    elif geo == "domestic_non_local":
        reco.append("Geography: **Domestic (non-QRO Mexico)** ‚Äî focus on digital engagement and virtual events.")
    elif geo == "international":
        reco.append("Geography: **International** ‚Äî emphasize global program benefits and virtual support.")
    
    if pd.notna(outcomes["likelihood_to_close_%"]):
        reco.append(f"LTC: **{outcomes['likelihood_to_close_%']}%**.")
    if pd.notna(outcomes["days_to_close"]):
        reco.append(f"Days to close: **{outcomes['days_to_close']}** (if closed).")
    if lifecycle_value and lifecycle_value != "Unknown":
        reco.append(f"Lifecycle: **{lifecycle_value}**.")
    
    # Academic periods (new tagging)
    periodo_ing = membership.get("periodo_ingreso")
    if periodo_ing and str(periodo_ing) not in ["nan", "Unknown", ""]:
        reco.append(f"Ingreso: **{periodo_ing}**.")
    periodo_adm = membership.get("periodo_admision")
    if periodo_adm and str(periodo_adm) not in ["nan", "Unknown", ""]:
        reco.append(f"Admisi√≥n: **{periodo_adm}**.")

    print("\nRecommendation:")
    print(" ‚Ä¢ " + " ".join(reco))

In [38]:
def show_state(state_name):
    """
    Display comprehensive metrics and insights for a specific Mexican state.
    
    Parameters:
    -----------
    state_name : str
        Name of the state (e.g., "queretaro", "jalisco", "ciudad de mexico")
        Can use full name, abbreviation, or variant - will be normalized
    
    Example:
    --------
    show_state("queretaro")
    show_state("qro")
    show_state("ciudad de mexico")
    """
    
    # Normalize state name
    state_normalized = norm_txt(state_name)
    
    # Check if state exists in normalization map
    if state_normalized in STATE_NORMALIZATION:
        state_canonical = STATE_NORMALIZATION[state_normalized]
    else:
        state_canonical = state_normalized
    
    # Filter data for this state
    state_data = X[X["state_any"] == state_canonical].copy()
    
    if len(state_data) == 0:
        print(f"‚ùå No contacts found for state: {state_name}")
        print(f"   (Normalized to: {state_canonical})")
        print(f"\nüí° Try one of these states:")
        top_states = X["state_any"].value_counts().head(10)
        for st, count in top_states.items():
            print(f"   ‚Ä¢ {st} ({count:,} contacts)")
        return
    
    # Header
    print("="*80)
    print(f"STATE ANALYSIS: {state_canonical.upper()}")
    print("="*80)
    
    # 1. OVERVIEW
    print(f"\nüìä OVERVIEW")
    print("-"*80)
    total_contacts = len(state_data)
    pct_of_total = (total_contacts / len(X) * 100)
    print(f"Total Contacts: {total_contacts:,} ({pct_of_total:.1f}% of all contacts)")
    
    # Segment distribution
    print(f"\nüìà SEGMENT DISTRIBUTION")
    print("-"*80)
    segment_dist = state_data["segment_c2"].value_counts()
    
    # Separate primary segments (2A/2B for domestic states) from cross-geography (2E/2F)
    primary_segs = ['2A', '2B']  # Expected for domestic states
    # cross_geo_segs = ['2E', '2F']  # Local QRO - shouldn't be here unless data conflict
    other_segs = ['2C', '2D']  # International - very rare
    
    # Show primary domestic segments
    primary_found = False
    for seg in primary_segs:
        if seg in segment_dist.index:
            primary_found = True
            count = segment_dist[seg]
            pct = (count / total_contacts * 100)
            print(f"   {seg}: {count:,} contacts ({pct:.1f}%)")
    
    if not primary_found:
        print("   (No domestic segments found)")
    
    # Show cross-geography contacts if they exist
    #cross_geo_found = []
    #for seg in cross_geo_segs + other_segs:
    #    if seg in segment_dist.index:
    #           cross_geo_found.append((seg, segment_dist[seg]))
    
    # if cross_geo_found:
    #    print(f"\n   ‚ö†Ô∏è  Cross-Geography Contacts (conflicting location data):")
    #    for seg, count in cross_geo_found:
    #        pct = (count / total_contacts * 100)
    #        seg_name = {"2E": "Local High", "2F": "Local Low", "2C": "International High", "2D": "International Low"}
    #        print(f"      {seg} ({seg_name.get(seg, seg)}): {count:,} contacts ({pct:.1f}%)")
    #    print(f"      Note: These contacts have '{state_canonical}' in state field but")
    #    print(f"            classified elsewhere due to other location indicators")
    
    # 2. ENGAGEMENT METRICS
    print(f"\nüí° ENGAGEMENT METRICS")
    print("-"*80)
    
    # Calculate metrics
    metrics = {
        "Avg Sessions": state_data["num_sessions"].mean(),
        "Avg Pageviews": state_data["num_pageviews"].mean(),
        "Avg Forms Submitted": state_data["forms_submitted"].mean(),
        "Avg Engagement Score": state_data["engagement_score"].mean(),
        "High Engagers %": (state_data["is_high_engager"].sum() / total_contacts * 100)
    }
    
    # Overall averages for comparison
    overall_metrics = {
        "Avg Sessions": X["num_sessions"].mean(),
        "Avg Pageviews": X["num_pageviews"].mean(),
        "Avg Forms Submitted": X["forms_submitted"].mean(),
        "Avg Engagement Score": X["engagement_score"].mean(),
        "High Engagers %": (X["is_high_engager"].sum() / len(X) * 100)
    }
    
    for metric_name, value in metrics.items():
        overall_value = overall_metrics[metric_name]
        diff = value - overall_value
        diff_pct = (diff / overall_value * 100) if overall_value > 0 else 0
        
        arrow = "üìà" if diff > 0 else "üìâ" if diff < 0 else "‚û°Ô∏è"
        print(f"   {metric_name:25s}: {value:>8.2f}  {arrow} ({diff_pct:+.1f}% vs overall)")
    
    # 3. LIFECYCLE STAGE
    if "lifecycle_stage" in state_data.columns:
        print(f"\nüîÑ LIFECYCLE STAGE DISTRIBUTION")
        print("-"*80)
        lifecycle_dist = state_data["lifecycle_stage"].value_counts().head(5)
        for stage, count in lifecycle_dist.items():
            pct = (count / total_contacts * 100)
            print(f"   {stage:30s}: {count:,} ({pct:.1f}%)")
    
    # 4. CLOSURE METRICS
    if "close_date" in state_data.columns:
        print(f"\nüí∞ CLOSURE METRICS")
        print("-"*80)
        
        closed_contacts = state_data["close_date"].notna().sum()
        close_rate = (closed_contacts / total_contacts * 100)
        overall_close_rate = (X["close_date"].notna().sum() / len(X) * 100)
        
        print(f"   Closed Contacts: {closed_contacts:,} ({close_rate:.1f}%)")
        print(f"   Overall Close Rate: {overall_close_rate:.1f}%")
        
        if "days_to_close" in state_data.columns and closed_contacts > 0:
            closed_data = state_data[state_data["close_date"].notna()]
            avg_days = closed_data["days_to_close"].mean()
            median_days = closed_data["days_to_close"].median()
            
            overall_avg_days = X[X["close_date"].notna()]["days_to_close"].mean()
            
            print(f"   Avg Days to Close: {avg_days:.0f} days")
            print(f"   Median Days to Close: {median_days:.0f} days")
            print(f"   Overall Avg: {overall_avg_days:.0f} days")
    
    # 5. LIKELIHOOD TO CLOSE
    if "likelihood_to_close" in state_data.columns:
        print(f"\nüéØ LIKELIHOOD TO CLOSE")
        print("-"*80)
        
        ltc_data = state_data["likelihood_to_close"].dropna()
        if len(ltc_data) > 0:
            avg_ltc = ltc_data.mean() * 100
            overall_avg_ltc = X["likelihood_to_close"].mean() * 100
            
            print(f"   Avg Likelihood: {avg_ltc:.1f}%")
            print(f"   Overall Avg: {overall_avg_ltc:.1f}%")
    
    # 6. RECOMMENDATIONS
    print(f"\nüí° RECOMMENDATIONS")
    print("-"*80)
    
    recommendations = []
    
    # Based on engagement
    if metrics["High Engagers %"] > overall_metrics["High Engagers %"]:
        recommendations.append(f"‚úÖ High engagement ({metrics['High Engagers %']:.1f}%) - prioritize this state")
    else:
        recommendations.append(f"‚ö†Ô∏è  Lower engagement - consider targeted campaigns")
    
    # Based on close rate
    if "close_date" in state_data.columns and closed_contacts > 0:
        if close_rate > overall_close_rate:
            recommendations.append(f"‚úÖ Strong close rate ({close_rate:.1f}%) - allocate more resources")
        else:
            recommendations.append(f"‚ö†Ô∏è  Below average close rate - needs nurturing")
    
    # Based on volume
    if pct_of_total > 5:
        recommendations.append(f"‚úÖ High volume state ({pct_of_total:.1f}%) - strategic priority")
    
    # Based on segment distribution
    high_segments = segment_dist[[s for s in ["2A", "2C", "2E"] if s in segment_dist.index]].sum()
    high_pct = (high_segments / total_contacts * 100)
    if high_pct > 50:
        recommendations.append(f"‚úÖ Majority high-engagement segments ({high_pct:.0f}%) - ready for conversion")
    
    for rec in recommendations:
        print(f"   {rec}")
    
    print("\n" + "="*80)

In [39]:

# Example 1: Contact analysis
print("EXAMPLE 1: Individual Contact Analysis")
print("="*80)
show_contact_by_id("76013958829")

print("\n\n")

EXAMPLE 1: Individual Contact Analysis
================================================================================

         contact_id
100625  76013958829

          membership                                              value
0         segment_c2                                                 2A
1           geo_tier                                 domestic_non_local
2  segment_c2_action  Invite to in-person APREU activities (MX non-Q...
3    periodo_ingreso                                          2025 Fall
4   periodo_admision                                        2026 Spring

              engagement     value
0           num_sessions         3
1          num_pageviews         4
2        forms_submitted         1
3  pageviews_per_session  1.333333
4      forms_per_session  0.333333
5     forms_per_pageview      0.25
6       engagement_score  3.688879
7        is_high_engager      True

                outcomes         value
0  likelihood_to_close_%           NaN
1            create_date    2024-11-08
2             close_date    2025-09-24
3          days_to_close           319
4   time_to_close_bucket  181-365 days

  lifecycle_stage
0        customer

  geography_signals                 value
0       country_any                mexico
1         state_any               chiapas
2          city_any  comitan de dominguez
3        ip_country                mexico
4   ip_state_region             queretaro
5  prep_country_bpm                mexico
6    prep_state_bpm               chiapas
7     prep_city_bpm  comitan de dominguez

      academic_info        value
0   periodo_ingreso    2025 Fall
1  periodo_admision  2026 Spring

    attribution_sources           value
0       original_source         OFFLINE
1    original_source_d1     INTEGRATION
2    original_source_d2         1290541
3  canal_de_adquisicion             NaN
4         latest_source  DIRECT_TRAFFIC
5         last_referrer             NaN

  segment_context (percentile ranks)    value
0                       segment_rows  13938.0
1       pct_rank_sessions_in_segment     38.6
2      pct_rank_pageviews_in_segment     14.4
3          pct_rank_forms_in_segment      0.9
4            pct_rank_ltc_in_segment      NaN

Recommendation:
 ‚Ä¢ **2A (high engagement)** ‚Äî prioritize fast follow-up. Geography: **Domestic (non-QRO Mexico)** ‚Äî focus on digital engagement and virtual events. Days to close: **319** (if closed). Lifecycle: **customer**. Ingreso: **2025 Fall**. Admisi√≥n: **2026 Spring**.

In [40]:
# Example 2: State analysis
print("EXAMPLE 2: State-Level Analysis")
print("="*80)
show_state("jalisco")  # Try with different states: "queretaro", "cdmx", "guanajuato", etc.

EXAMPLE 2: State-Level Analysis
================================================================================
================================================================================
STATE ANALYSIS: JALISCO
================================================================================

üìä OVERVIEW
--------------------------------------------------------------------------------
Total Contacts: 994 (1.3% of all contacts)

üìà SEGMENT DISTRIBUTION
--------------------------------------------------------------------------------
   2A: 255 contacts (25.7%)
   2B: 739 contacts (74.3%)

üí° ENGAGEMENT METRICS
--------------------------------------------------------------------------------
   Avg Sessions             :     1.27  üìâ (-32.0% vs overall)
   Avg Pageviews            :     3.40  üìâ (-19.3% vs overall)
   Avg Forms Submitted      :     0.59  üìâ (-28.9% vs overall)
   Avg Engagement Score     :     1.67  üìâ (-21.9% vs overall)
   High Engagers %          :    25.65  üìâ (-29.4% vs overall)

üîÑ LIFECYCLE STAGE DISTRIBUTION
--------------------------------------------------------------------------------
   lead                          : 445 (44.8%)
   marketingqualifiedlead        : 319 (32.1%)
   salesqualifiedlead            : 102 (10.3%)
   opportunity                   : 61 (6.1%)
   evangelist                    : 36 (3.6%)

üí∞ CLOSURE METRICS
--------------------------------------------------------------------------------
   Closed Contacts: 55 (5.5%)
   Overall Close Rate: 10.3%
   Avg Days to Close: 158 days
   Median Days to Close: 103 days
   Overall Avg: 200 days

üéØ LIKELIHOOD TO CLOSE
--------------------------------------------------------------------------------
   Avg Likelihood: 95.4%
   Overall Avg: 95.3%

üí° RECOMMENDATIONS
--------------------------------------------------------------------------------
   ‚ö†Ô∏è  Lower engagement - consider targeted campaigns
   ‚ö†Ô∏è  Below average close rate - needs nurturing

================================================================================